<!-- FORM -->

<div class="form-title"><span>READY TO ENROLL NOW?</span></div>
<div class="form-text"><span>{{title}}</span> Application form</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <label for="name" class="name">Name and surname</label>
            <input type="text" name="name" placeholder="ex. Fatime Krasniqi" class="form-control" id="">
        </div>
        <div class="col-md-6">
            <label for="name" class="name">Phone number</label>
            <input type="text" name="name" placeholder="ex. 49 334 437" class="form-control" id="">
        </div>
        <div class="col-md-6">
            <label for="name" class="name">E-mail</label>
            <input type="text" name="name" placeholder="fatka@hotmail.com" class="form-control" id="">
        </div>
        <div class="col-md-6">
            <label for="name" class="name">Desired payment method</label>
            <input type="text" name="name" placeholder="ex. at once, 15 , 24 or 36 installments" class="form-control"
                id="">
        </div>

        <div class="col-md-7 radio">
            <input label="Just Academy 999 €" name="money" type="radio" id="male" name="gender" value="Just academy"
                checked>
            <input label="EU Certified 1499 €" name="money" type="radio" id="female" name="gender" value="EU certified">
            <input label="All access 2999 €" name="money" type="radio" id="other" name="gender" value="other">
        </div>

        <div class="offset-md-1  col-md-4 radio">
            <input label="Online" type="radio" id="male" name="gender" value="Just academy" checked>
            <input label="On campus" type="radio" id="female" name="gender" value="EU certified">
        </div>


        <div class=" col-md-4 radio">
            <input label="16-18" type="radio" id="male" name="gender" value="Just academy" checked>
            <input label="18-35" type="radio" id="female" name="gender" value="EU certified">
            <input label="35+" type="radio" id="female" name="gender" value="EU certified">
        </div>

        <div class="offset-md-1  col-md-7 radio">
            <input label="Career improvement" name="money" type="radio" id="male" name="gender" value="Just academy"
                checked>
            <input label="Employment / Intership" name="money" type="radio" id="female" name="gender"
                value="EU certified">
            <input label="New skills" name="money" type="radio" id="other" name="gender" value="other">
        </div>

    </div><!-- row-end -->
</div><!-- container-end -->
<div class="form-btns-desktop">
    <button class="ask-btn">I want to ask a question</button>
    <button class="signup-btn">I want to sign up</button>
</div>

<div class="form-btns-mobile">
    <button class="ask-btn">Ask a question</button>
    <button class="signup-btn">Enroll now</button>
</div>

<div class="submit-info mb-5">By clicking on “Submit” I agree and give approval to Kreative Hub LLC to use and process my
    personal data, later store it as long as necessary for the purpose for which the data was collected, after which
    they will be deleted in accordance with the Law on Personal Data Protection. I reserve the right at any time to
    withdraw my consent.</div>
<!-- FORM -->
