<app-navbar></app-navbar>

<div class="header">
    <div class="container">
        <h1>HOW DO YOU GET HIRED?</h1>
        <h4>Throughout the Academy our Hiring Advisor Edonisa will follow your
            performance and together with the lecturers she will give you
            constant
            feedback. </h4>
        <p>We partner with more than 100+ companies from Pristina and the
            region.
            Our Hiring through Project’s Model means that all our students get
            constant invitations to participate in projects and win an
            internship or
            job opportunity at the partner company. </p>
    </div>
</div>
<div class="container feedback">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="feedback-card">
                <h4>Company feedback</h4>
                <img src="assets/hired/feedback1.png" alt="Company feedback">
                <p>“CreativeHub ka sjellë një frymë të re në Kosovë që po j'u
                    mundëson
                    të rinjëve të aftësohen në në nga fushat më të rëndësishme
                    të
                    teknologjis, Data Science.
                    Unë besoj që studentët e Creative Hub do jenë ndihmesë e
                    madhe në
                    sjlelljen e ideve të reja dhe analizimin e të dhënave qe ne
                    i
                    posedojmë në eCommerce.”</p>
                <div>-Valon Xhafa</div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="feedback-card">
                <h4>Company feedback</h4>
                <img src="assets/hired/feedback2.png" alt="Company feedback">
                <p>“Argjira is very proactive and self-motivated young woman.
                    She was the first student that started as Intern in XYZ.
                    After Argjira we took 3 more students to join our team. We
                    believe in collaboration and development of young people and
                    this is why we partner with Creative Hub.”</p>
                <div>-Festim Bajgora</div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="feedback-card">
                <h4>Company feedback</h4>
                <img src="assets/hired/feedback3.png" alt="Company feedback">
                <p>“Aida maintains a very positive attitude at work and very
                    quickly has built strong relationships with others at work.
                    She has a very good understanding of the duties and
                    responsibilities assigned to her position. Since recently
                    she is able to take on challenges under the pressure of high
                    workload. She is articulate and persuasive in presenting her
                    opinion.”</p>
                <div>-Arta Koka Grubi</div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="feedback-card">
                <h4>Company feedback</h4>
                <img src="assets/hired/feedback4.png" alt="Company feedback">
                <p>Hackathons and real projects with our partner companies
                    motivate students and offer employment.
                    After graduating from the Academy of Digital Marketing,
                    students had the chance to present their knowledge for a
                    task set by George Kapernaros marketing agency. The winner
                    of this hackathon started working as a digital marketer at
                    George's marketing agency.</p>
            </div>
        </ng-template>


    </owl-carousel-o>
</div>

<div class="section-m d-flex align-items-center overflow-hidden">
    <img src="assets/hired/olti-kaltrina.png" class="d-none d-lg-block" alt="Creative Hub Students">
    <div class="hiring-wrapper">
        <div class="hiring-inner">
            <h2>AFTER THE GRADUATION JOIN OUR HIRING PLATFORM</h2>
            <h3>AND CONNECT WITH 100+ HIRING COMPANIES</h3>
            <button>Check it out</button>
        </div>
    </div>
</div>


<div class="section-m">
    <div class="d-flex justify-content-around projects-title">
        <!-- <h2>PROJECTS</h2>
        <h2>PROJECTS</h2>
        <h2>PROJECTS</h2> -->
    </div>
    <div class="container pt-5">
        <div class="text-center">
            <p>Future-proof your knowledge and add to your CV the practical
                projects
                that you will create on the Academy. <br> We partner with
                companies to
                create joint projects, but we also do inter-Academy Hakathons
                where <br>
                students from different Academies join as teams and create tech
                tools. </p>
        </div>
        <owl-carousel-o [options]="projectsCarusel">
            <ng-template carouselSlide>
                <div class="project-card">
                    <img src="assets/hired/project1.png" alt="Creativehub
                        project">
                    <h4>Employee Satisfaction Tool</h4>
                    <p>The HR Academy students worked together with UX UI and
                        Front-end Academy students in inter-connected teams.
                        They created Employee Satisfaction tool that can be used
                        in any company to masure employee satisfaction.</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="project-card">
                    <img src="assets/hired/project2.png" alt="Creativehub
                        project">
                    <h4>Legal Regulations tool
                        for Employees</h4>
                    <p>A tech solution should always solve a problem. The Legal
                        Regulations for Employees tool created by our HR Academy
                        students guides companies in Kosovo to set their
                        internal regulations policies in a professional way.</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="project-card">
                    <img src="assets/hired/project3.png" alt="Creativehub
                        project">
                    <h4>Data Project with Behamics</h4>
                    <p>The Data Science Academy students worked with mentors
                        from Behamics on a real project. This helped them “put
                        in practice” the skills they have gained at Data Science
                        Academy,</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="project-card">
                    <img src="assets/hired/project4.png" alt="Creativehub
                        project">
                    <h4>New Year’s Fundraiser</h4>
                    <p>The students of the Digital Marketing Academy did af
                        landing page campaign and worked in digital marketing
                        teams to create a Fundraiser.
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="project-card">
                    <img src="assets/hired/project5.png" alt="Creativehub
                        project">
                    <h4>Darta project: KPI
                        Retail Dashboard</h4>
                    <p>On the Power BI course at the Data Science Academy
                        students got a task to create a KPI Dashboard using
                        dataset. They worked with various coefficients. For each
                        they created appropriate measurements for comparison
                        with previous periods.
                    </p>
                </div>
            </ng-template>

        </owl-carousel-o>

    </div>

</div>

<div class="section-m p-3">
    <img src="assets/hired/hiring-partnes.png" class="w-100 d-none d-lg-block" alt="Hiring
        Partners">
</div>

<div class="section-m">
    <div class="d-flex justify-content-around projects-title">
        <!-- <h2>OUR STUDENTS & ALUMNI</h2>
        <h2>OUR STUDENTS & ALUMNI</h2> -->
    </div>
</div>


<!-- <div class="section-m container">
    <div class="numbers-wrapper">
        <div class="numbers-inner">
            <div class="number">
                <h3>
                    500+
                </h3>
                <h4>Students </h4>
            </div>
            <div class="number">
                <h3>
                    3
                </h3>
                <h4>Campuses</h4>
            </div>
            <div class="number">
                <h3>
                    100%
                </h3>
                <h4>Hiring rate</h4>
            </div>
        </div>
    </div>
</div> -->
<app-footer></app-footer>