<div class="hero">
    <div class="container">
        <h1>Digital Marketing Academy: Fast Track</h1>
        <h2>Level up WITH OUR
            #FAST-TRACK PROGRAME</h2>
        <h3>1 on 1 classes with mentor from the USA
        </h3>
        <h4>on English language
        </h4>
        <p>
            For those who want to be Professional Level after finishing the
            Academy.
            Accelerated program where you will work independently with a mentor
            from America 2 times a week on real projects and thus you will fully
            improve your digital skills.
        </p>
    </div>
</div>
<div class="container">
    <div class="dardania">
        <h2>Ask your company to sponsor your training!</h2>
        <h4>Today our companies are operating with large sets of data, often we
            don’t even know the data that we possess mainly because we don’t
            have the skill set to analyze it.
            But investing in a team member with an economic or engineering
            background can help not only prepare your company for the future but
            also offer new data-driven solutions that can cut costs and speed up
            processes.
        </h4>
        <a
            href="https://www.youtube.com/watch?v=2xsu15BaFnU&t=3s&ab_channel=CreativeHubKosovo"
            target="_blank"> <img src="assets/data-science/dardania.png" class="responsive
                zoom" alt="Dardania"></a>
        <h4> <span>Share</span> this video with your manager.</h4>
    </div>
</div>
<div class="what-you-get">
    <div class="container">
        <h4>What do you get?</h4>
        <div class="d-flex mt-3 align-items-center">
            <img src="assets/hr/fast-track/blue-thick.svg" class="me-3"
                alt="Thick">
            <p>Learn and practice and the same time</p>
        </div>
        <div class="d-flex mt-3 align-items-center">
            <img src="assets/hr/fast-track/blue-thick.svg" class="me-3"
                alt="Thick">
            <p>1:1 Mentorship (Online Classes)</p>
        </div>
        <div class="d-flex mt-3 align-items-center">
            <img src="assets/hr/fast-track/blue-thick.svg" class="me-3"
                alt="Thick">
            <p>4 hours per week, 17 weeks (flexible schedule with the mentor)</p>
        </div>
        <div class="d-flex mt-3 align-items-center">
            <img src="assets/hr/fast-track/blue-thick.svg" class="me-3"
                alt="Thick">
            <p>You will be working as part of the Marketing Team at Creative Hub</p>
        </div>
        <div class="d-flex mt-3 align-items-center">
            <img src="assets/hr/fast-track/blue-thick.svg" class="me-3"
                alt="Thick">
            <p>Improving your knowledge on Facebook Ads, Google Ads, PR, Landing
                Pages, Email Marketing, by working on real projects for the USA
                and Kosovo</p>
        </div>
    </div>

    <div class="container my-5">
        <h2 class="my-5">ADDITIONAL practical program</h2>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
              <button class="accordion-button accordion-fast-track collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                      Coaching Training
              </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul>
                  <li>At the end of this module you will have prepared a Coaching training for managers in the organization:</li>
                  <li>Give effective feedback</li>
                  <li>Foster steady growth</li>
                  <li>Motivate star performers </li>
                  <li> Provide support to employees need to achieve peak performance</li>
                  <li>Tapping their learning styles to make great progress</li>
                  <li>Giving them feedback they will actually apply</li>
                  <li>Matching people’s skills with your organization’s needs</li>
                  <li>Engaging your employees and fostering independence</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEight">
              <button class="accordion-button accordion-fast-track collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                      Women in Leadership Training
              </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul>
                  <li>At the end of this module you will have prepared  4 trainings to stimulate Women in your organization to take on leadership roles:</li>
                  <li>Lead with authenticity techniques</li>
                  <li>Show the Leadership Potential techniques</li>
                  <li>Learn how to act like a leader before you are one - techniques</li>
                  <li>Advocate for Yourself ( as a woman ) - techniques</li>
                  <li>Support the Women around you - techniques</li>
                  <li>Have men in the organization be better advocates for Women growth - techniques</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingNine">
              <button class="accordion-button accordion-fast-track collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                      Leadership 1 & 2 Training
              </button>
            </h2>
            <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul>
                  <li>At the end of this module you will have prepared  Leadership Training Modules for your organization and get ready to implement them: </li>
                  <li>Strategic Leadership Skills</li>
                  <li>Cross-Silo Leadership</li>
                  <li>Nimble Leadership</li>
                  <li>Both/And Leadership</li>
                  <li>The Authenticity Paradox</li>
                  <li>How CEOs Manage Time</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTen">
              <button class="accordion-button accordion-fast-track collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseOne">
                      Employer Branding 
              </button>
            </h2>
            <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingTen"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul>
                  <li>At the end of this module you will have prepared an Employer Branding annual strategy to implement in your organization: </li>
                  <li>Positioning of your company’s Employer Brand</li>
                  <li>Understanding Target Candidate and the connection between Recruitment & Employer Branding</li>
                  <li>Employer Brand Image Relative to Competitors</li>
                  <li>Employer Brand and CSR Strategy in online recruitment advertising</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwelve">
              <button class="accordion-button accordion-fast-track collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
                      Hybrid Recruitment Process
              </button>
            </h2>
            <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve"
                 data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul>
                  <li>At the end of this module you will be ready to hire people in a hybrid/remote way: </li>
                  <li>Learn Simple Tools to make Hiring Easier</li>
                  <li>Understand how to hire remote employees</li>
                  <li>Understand how to onboard remote employees</li>
                  <li>Understand how to deal with a “hybrid” employment culture</li>
                  <li>What is the Skills-based approach to hiring? </li>
                  <li>Build a recruitment strategy and include the entire team </li>
                </ul>
              </div>
            </div>
          </div>
    </div>
    <div class="container my-5">
        <h2 class="mentor-title">ACADEMY MENTOR</h2>
        <h4 class="d-block d-lg-none">Ariana Koskarova.<br> <br>

            Маркетинг директор и ко-основач на Creative Hub, член на Forbes
            Business Council, менаџер на
            Creative Hub Miami.
        </h4>
        <div class="mentor-wrapper">
            <img src="assets/hr/fast-track/arijana.png" alt="Creative Hub CTO">
            <div>
                <h4 class="d-none d-lg-block">Ariana Koskarova.<br> <br>
                    Marketing director and co-founder of Creative Hub, member of
                    Forbes Business Council, manager of Creative Hub Miami.
                </h4>
                <div class="calendly">
                    <p class="m-0">Schedule a conversation with the mentor.</p>
                    <a
                        href="https://calendly.com/stojanco_ch/30min?month=2022-05"
                        target="blank">Here</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mentor"></div>

    <!--Start of why fast academy section-->
    <section class="why-fast-track-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wft-left">
                    <h2 class="mt-3">Why choose
                        Fast-Track
                        Academy?</h2>
                    <h4 class="mt-3">Do you want to work only 1 on 1 with a
                        mentor, twice a week, parallel to the Academy?
                        <br> <br>
                        Choose Fast-Track Academy!</h4>
                    <h4 class="mt-3">This program also includes
                        world recognized degree of
                        SHRM Certification.</h4>
                </div>
                <div class="col-md-6">
                    <div class="why-fast-track-card">
                        <img src="assets/hr/fast-track/elena.png" class="elena"
                            alt="CreativeHub Fast Track Student"
                            data-toggle="modal"
                            data-target="#exampleModalCenter5">
                        <p class="fw-bold">Elena</p>
                        <p>
                            A student of the Fast Track program of
                            the Human Resources Academy
                            <br> <br>
                            „I chose the fast track academy because along with
                            the theoretical knowledge it provided me with a lot
                            of practical skills.
                            I had classes twice a week, but If I needed more
                            support from the mentor sometimes I would get more
                            classes in a week.“
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- modal -->
    <div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <iframe width="auto" height="315"
                    src="https://www.youtube.com/embed/ZYf-U59EM14"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write;
                    encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!--End of why fast academy section-->
    <div class="container">


        <div class="fast-track-student-card-wrapper">
            <div class="fast-track-student-card-inner">
                <div class="card-left">
                    <h4 class="fw-bold">Sonja</h4>
                    <p>
                        A student of the Fast Track program of
                        the Human Resources Academy</p>
                    <img src="assets/hr/fast-track/sonja.png" alt="Fast track
                        student">
                </div>
                <div class="card-right">
                    <p>
                        "The reason why I enrolled in Fast track was to get as
                        much practical knowledge as possible, and it fully met
                        my expectations and even more. <br> <br>

                        The desire of the lecturers to pass on the knowledge to
                        the students amazed me. Mentoring classes are a must
                        have, the knowledge gained through them is very
                        valuable. Keep it up! "
                    </p>
                </div>
            </div>
        </div>



        <div class="fast-track-student-card-wrapper">
            <div class="fast-track-student-card-inner">
                <div class="card-left">
                    <h4 class="fw-bold">Bojana</h4>
                    <p>
                        A student of the Fast Track program of
                        the Human Resources Academy</p>
                    <img src="assets/hr/fast-track/bojana.png" alt="Fast track
                        student">
                </div>
                <div class="card-right">
                    <p>
                        "Fast-track academy helped me to boost the knowledge I
                        was getting at the Human Resources academy. <br> <br>
                        With its help, I understood the material more easily,
                        expanded the boundaries of my knowledge, and gained
                        skills that will help me in the future. <br> <br>

                        Thanks to the Fast-track academy, I was able to meet
                        real-life examples and more easily implement the
                        knowledge gained at the Human Resources academy."</p>
                </div>
            </div>
        </div>

    </div>
    <div class="container call">
        <h4 class="font-weight-bold me-lg-3 ">Reach out today:</h4>
        <div class="d-flex  mt-3 m-lg-0">
            <img src="assets/hr/fast-track/phone.svg" alt="Phone">
            <a href="tel:+38349334437">+ 383 49 334 437
            </a>
        </div>
    </div>

</div>
