.delete
{
    color: rgba(18, 61, 126, 1);
    font-weight: 700;
    border: none;
    background-color: transparent;

}
.price-wrapper
{
    max-width: 30%;
    margin-left: 70%;
}

.total-wrapper
{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #606060;;
}
.price span
{
    font-size: 16px;
}
.shopping-btn, .pay-btn
{
    width: 100%;
    border-radius: 12px;
    border: none;
    padding: 4px 8px;
    font-size: 18px;
    font-weight: 700;
}
.shopping-btn
{
    background-color: rgba(255, 189, 17, 1);
    margin: 3% 0%;
}
.pay-btn
{
    background-color: rgba(63, 188, 190, 1);
    margin-bottom: 50%;
}
@media only screen and (max-width: 758px) {
    .price-wrapper
{
    max-width: 50%;
    margin-left: 50%;
}
}
