<div class="container section-m">
    <h2 class="title-m">WHY CREATIVE HUB? </h2>
    <div class="table-titles">
        <p class="d-none d-lg-flex">University</p>
        <p>Other Academies</p>
        <p class="d-none d-lg-flex">Udemy</p>
        <p style="border: none">Creative Hub</p>
    </div>
    <div class="table-wrapper">
        <div class="table-left">
            <p>4 years of studies</p>
            <p>6-9 months programs</p>
            <p>Work on real projects</p>
            <p>Expert mentors</p>
            <p>3 tracks and prices according to your needs</p>
            <p>Fast-track Program (1 on 1 mentorship)</p>
            <p>Guaranteed Job / Internship</p>
            <p class="two-row">Recruiter dedicated to you that will match you to companies</p>
            <p>US and EU applicable Program</p>
            <p>Offices in Kosovo, USA & N. Macedonia</p>
            <p>Diploma with ECTS credits</p>
            <p style="border: none">US Accredited Degree</p>
        </div>
        <div class="table-right">
            <div class="table-column d-none d-lg-block">
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box two-row">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
                <div class="table-right-box" style="border: none">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
            </div>
            <div class="table-column">
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
                <div class="table-right-box two-row">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box" style="border: none;">
                    <img src="assets/Images/ReUsable/circle-x.svg"
                        alt="Circle">
                </div>
            </div>
            <div class="table-column d-none d-lg-block">
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box two-row">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box" style="border: none">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
            </div>
            <div class="table-column" style="border: none">
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-x.svg" alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
                <div class="table-right-box two-row">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
                <div class="table-right-box">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
                <div class="table-right-box" style="border: none">
                    <img src="assets/Images/ReUsable/circle-thick.svg"
                        alt="Circle">
                </div>
            </div>
        </div>
    </div>
</div>
