<footer class="footer-wrapper">
  <div class="footer-inner-wrapper">
    <div class="container d-flex flex-wrap justify-content-between">
      <div class="footer-logo-section pe-2 pe-lg-0 d-flex flex-column justify-content-between">
        <div>
          <img src="assets/Images/footer/logo_footer.png"/>
          <hr class="footer-hr"/>
          <div class="d-flex justify-content-between">
            <a href="https://www.facebook.com/creativehubkosovo" target="_blank">
              <img src="assets/Images/footer/facebook_logo.png" alt="Facebook"/>
            </a>
            <a href="https://www.linkedin.com/company/28931657/" target="_blank"><img
              src="assets/Images/footer/linkedin_logo.png" alt="LinkedIn"/></a>
            <a href="https://www.instagram.com/creativehubkosovo" target="_blank"><img
              src="assets/Images/footer/instagram_logo.png" alt="Instagram"/></a>
          </div>
          <p class="mb-0 mt-3">Gain knowledge, connect and find your perfect career path.</p>
        </div>
        <div class="mb-4 mb-lg-2">
          Kosovo
        </div>
      </div>

      <div class="footer-menu mb-3 mb-lg-0">
        <div class="footer-menu-title mb-3 pl-lg-2">Academies</div>
        <a href="https://creativehubkos.com/digital-marketing">
          <div class="footer-menu-item py-2 px-lg-2" id="DMFooterItem">Digital marketing</div>
        </a>
        <!-- <a routerLink="/graphic-design" routerLinkActive="active-footer-item" [routerLinkActiveOptions]="{exact:true}">
          <div class="footer-menu-item py-2 px-lg-2" id="GDFooterItem">Graphic design</div>
        </a> -->
        <a  href="https://creativehubkos.com/hr" >
          <div class="footer-menu-item py-2 px-lg-2" id="HRFooterItem">Human resources</div>
        </a>
        <a href="https://creativehubkos.com/front-end">
          <div class="footer-menu-item py-2 px-lg-2" id="FEFooterItem">Front-End</div>
        </a>
        <a href="https://creativehubkos.com/back-end">
          <div class="footer-menu-item py-2 px-lg-2" id="FEFooterItem">Back-End</div>
        </a>
        <a href="https://creativehubkos.com/data-science">
          <div class="footer-menu-item py-2 px-lg-2" id="DSFooterItem">Data Science</div>
        </a>
        <a href="https://creativehubkos.com/women-leadership-academy/">
          <div class="footer-menu-item py-2 px-lg-2" id="DSFooterItem">Women's Leadership</div>
        </a>
      </div>

<!--      <div class="footer-menu mb-3 mb-lg-0">-->
<!--        <div class="footer-menu-title mb-3 pl-lg-2">Careers</div>-->
<!--        <a href="<?php echo SITE_URL; ?>HiringPlatform">-->
<!--          <div class="footer-menu-item py-2 px-lg-2">Hiring platform</div>-->
<!--        </a>-->
<!--        <a href="<?php echo SITE_URL; ?>blog">-->
<!--          <div class="footer-menu-item py-2 px-lg-2">Our students</div>-->
<!--        </a>-->
<!--        <a href="<?php echo SITE_URL; ?>hakatoni">-->
<!--          <div class="footer-menu-item py-2 px-lg-2">Hackatons</div>-->
<!--        </a>-->
<!--      </div>-->

      <div>
        <div class="footer-menu-title mb-3 pl-lg-2">Contact</div>
        <a href="mailto: contact@cretivehubkos.com">
          <div class="footer-menu-item py-2 px-lg-2">contact@creativehubkos.com</div>
        </a>
        <a href="tel:0038349334437">
          <div class="footer-menu-item py-2 px-lg-2">+383 49 334 437</div>
        </a>
      </div>
    </div>

    <div class="container credits-footer">
      <hr class="footer-hr"/>

      <div class="d-flex flex-wrap justify-content-between pb-3">
        <div>© Copyright 2022 Creative Hub</div>
        <div class="d-flex flex-wrap">
          <div class="mr-4">Privacy policy</div>
          <div>Terms & conditions</div>
        </div>
      </div>
    </div>
  </div>
</footer>
