<div class="why-study-title d-none d-lg-block">WHY STUDY IN CREATIVEHUB</div>
<div class="why-study-text  d-none d-lg-block">Because we take a personal approach for each student, but there's more...</div>
<div class="why-study-wrapper  d-none d-lg-flex">
    <div class="why-study-element text-center">
        <img src="assets/digital-marketing/community.svg" class="responsive" alt="Community"> <br> <br>
        <p class="f-18">Community of like <br> minded individuals</p>
    </div>
    <div class="why-study-element text-center">
        <img src="assets/digital-marketing/expert.svg" class="responsive" alt="Community"> <br> <br>
        <p class="f-18">Expert mentors</p>
    </div>
    <div class="why-study-element text-center">
        <img src="assets/digital-marketing/international.svg" class="responsive" alt="Community"> <br> <br>
        <p class="f-18">International certificates</p>
    </div>
    <div class="why-study-element text-center">
        <img src="assets/digital-marketing/student-care.svg" class="responsive" alt="Community"> <br> <br>
        <p class="f-18">24/7 Student care</p>
    </div>
    <div class="why-study-element text-center">
        <img src="assets/digital-marketing/performance.svg" class="responsive" alt="Community"> <br> <br>
        <p class="f-18">Performance oriented <br> system approach</p>
    </div>
</div>
