<div class="box-position" id="wheelBox">
    <div id="box" class="box">
        <div id="wheel" class="wheel">

            <div class="sections1">
                <span class="section1"><b>Free Career Consultation</b></span>
                <span class="section2"><b>€50</b></span>
                <span class="section3"><b>€80</b></span>
            </div>

            <div class="sections2">
                <span class="section1"><b>€100</b></span>
                <span class="section2"><b>€10</b></span>
                <span class="section3"><b>€20</b></span>
            </div>

        </div>

        <!-- <h3 id="category"></h3> -->
        <button class="spin" id="spinner">SPIN</button>
    </div>
</div>



<!-- The Modal -->
<div id="myModalWheel" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-content-inner">
        <h4 id="category" class="cabin"></h4>
        <br>
        <h5 class="cabin">Enter your email below to get the prize.</h5>
        <form method="POST" action="https://akoskarova.activehosted.com/proc.php" id="_form_147_" class="_form _form_147 _inline-form  _dark" novalidate>
          <input type="hidden" name="u" value="147" />
          <input type="hidden" name="f" value="147" />
          <input type="hidden" name="s" />
          <input type="hidden" name="c" value="0" />
          <input type="hidden" name="m" value="0" />
          <input type="hidden" name="act" value="sub" />
          <input type="hidden" name="v" value="2" />
          <input type="hidden" name="or" value="f745ff4221c52a08f73ea2f2b39ae48d" />
          <div class="_form-content">
     
            <div class="_form_element _x02002292 _full_width " >
              <label for="fullname" class="_form-label">
                Price
              </label>
              <div class="_field-wrapper">
               <input type="text" id="fullname" style="visibility: hidden;" name="fullname" placeholder="Type your name" />
              </div>
              <!--  This STARTS the Custom Objects section  -->
              </div>
              <div class="_form_element _x43611139 _full_width " >
                <label for="email" class="_form-label">
                  Email
                </label>
                <div class="_field-wrapper">
                  <input type="text" id="email" name="email" placeholder="Type your email" required/>
                </div>
                <!--  This STARTS the Custom Objects section  -->
                </div>
                <div class="_form_element _field9 _full_width " >
                  <label for="field[9]" class="_form-label">
                    Phone
                  </label>
                  <div class="_field-wrapper">
                    <input type="text" id="field[9]" name="field[9]" value="" placeholder="" />
                  </div>
                </div>
                <div class="_button-wrapper _full_width">
                  <button id="_form_147_submit" class="_submit" type="submit">
                    Submit
                  </button>
                </div>
                <div class="_clear-element">
                </div>
              </div>
              <div class="_form-thank-you" style="display:none;">
              </div>
            </form>
    </div>
    <img src="assets/Images/ReUsable/x-btn.svg"  id="closeBtnWheel" alt="x button">
</div>
</div>

