
<app-navbar></app-navbar>
        <!-- The Modal
        <div id="myModal" class="hide" #myModal>

          Modal content
          <div class="modal-contentt">
              <div class="modal-content-inner">
                  <div class="_form_element _x83600404 _full_width _clear">
                      <img class="_form-image" src="../../../assets/home/black-friday.png"
                          style="max-width: 100%; height:auto;" />
                  </div>
                  <img src="../../../assets/Images/ReUsable/x-btn.svg"  (click)="closeModal()" id="closeBtn" alt="">
              </div>
          </div>
      </div> -->

<div class="header">
  <div class="container">
    <h1>WE HELP PEOPLE START IN-DEMAND CAREER OR CHANGE ONE!</h1>

    <form method="POST" action="https://akoskarova.activehosted.com/proc.php"
      id="_form_276_" class="_form _form_276 _inline-form _dark" novalidate>
      <input type="hidden" name="u" value="276" />
      <input type="hidden" name="f" value="276" />
      <input type="hidden" name="s" />
      <input type="hidden" name="c" value="0" />
      <input type="hidden" name="m" value="0" />
      <input type="hidden" name="act" value="sub" />
      <input type="hidden" name="v" value="2" />
      <input type="hidden" name="or" value="faaa6f691b7031616a0603a5a1b5b494" />
      <div class="_form-content">
        <div class="_form_element _x38865294 _full_width _clear">
          <div class="_form-title">
            <h4> Schedule a free career consultation</h4>
          </div>
        </div>
        <div class="career-wrapper">
          <div class="_form_element _x92518420 _full_width w-100">
            <div class="_field-wrapper">
              <input type="text" id="email" name="email" placeholder="Type your email" required/>
            </div>
          </div>
          <div class="_button-wrapper _full_width">
            <button id="_form_276_submit" class="_submit" type="submit">
              <img src="assets/home/message.svg" alt="Message"> Sign up
            </button>
          </div>
        </div>
        <div class="_clear-element">
        </div>
      </div>
      <div class="_form-thank-you" style="display:none;">
      </div>
    </form>
    <div class="row">
      <div class="col-6 col-md-4 p-0 position-relative bubble-wrapper">
        <div class="header-bubble">
          <h4>Local & International Job Match</h4>
          <img src="assets/home/bubble-shadow.svg" alt="Bubble">
        </div>
      </div>
      <div class="col-6 col-md-4 p-0 position-relative bubble-wrapper">
        <div class="header-bubble">
          <h4>Less-than-a-year program </h4>
          <img src="assets/home/bubble-shadow.svg" alt="Bubble">
        </div>
      </div>
      <div class="col-6 col-md-4 p-0 position-relative bubble-wrapper">
        <div class="header-bubble">
          <h4>Suitable for Beginners</h4>
          <img src="assets/home/bubble-shadow.svg" alt="Bubble">
        </div>
      </div>
      <div class="col-6 col-md-4 p-0 position-relative bubble-wrapper">
        <div class="header-bubble">
          <h4>EU & US Diplomas</h4>
          <img src="assets/home/bubble-shadow.svg" alt="Bubble">
        </div>
      </div>
      <div class="col-6 col-md-4 p-0 position-relative bubble-wrapper">
        <div class="header-bubble">
          <h4>Project-based learning </h4>
          <img src="assets/home/bubble-shadow.svg" alt="Bubble">
        </div>
      </div>
      <div class="col-6 col-md-4 p-0 position-relative bubble-wrapper">
        <div class="header-bubble">
          <h4>Access to Forbes events</h4>
          <img src="assets/home/bubble-shadow.svg" alt="Bubble">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container section-m">
  <h2>You are in the right place, if you :</h2>
  <div class="d-flex mt-3 mt-lg-0">
    <img src="assets/home/purple-thick.svg" class="me-2" alt="Thick">
    <p>Want to change your career</p>
  </div>
  <div class="d-flex">
    <img src="assets/home/purple-thick.svg" class="me-2" alt="Thick">
    <p>You are unemployed and you need skills to start a new career</p>
  </div>
  <div class="d-flex">
    <img src="assets/home/purple-thick.svg" class="me-2" alt="Thick">
    <p>You want to grow fast on work and you need additional skills</p>
  </div>
  <div class="d-flex">
    <img src="assets/home/purple-thick.svg" class="me-2" alt="Thick">
    <p>You are finishing high school and you don’t know what next</p>
  </div>
  <div class="d-flex">
    <img src="assets/home/purple-thick.svg" class="me-2" alt="Thick">
    <p>You made a wrong University choice and you want to change that</p>
  </div>
  <div class="d-flex">
    <img src="assets/home/purple-thick.svg" class="me-2" alt="Thick">
    <p>You see others succeed in their career, and you are not</p>
  </div>
  <div class="d-flex">
    <img src="assets/home/purple-thick.svg" class="me-2" alt="Thick">
    <p>You are entrepreneur who wants to invest in his own skills instead of
      paying someone else’s</p>
  </div>
</div>

<div class="container section-m">
  <div class="company-hero-wrapper">
    <h2 class="my-3">Be a company hero !</h2>
    <h3 class="my-3">Cover the tuition cost for your employees.</h3>
    <h4 class="my-3">3 Reasons why you should sign up for the Benefits program.
      👇</h4>
    <div class="row">
      <div class="col-md-4">
        <div class="company-card">
          <img src="assets/home/care.svg" class="company-card-img" alt="Care">
          <div class="d-flex align-items-start">
            <img src="assets/home/purple-thick.svg" alt="Purple thick">
            <p>You care for your employees and you want to keep them longer</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="company-card">
          <img src="assets/home/growth.svg" class="company-card-img"
            alt="Growth">
          <div class="d-flex align-items-start">
            <img src="assets/home/purple-thick.svg" alt="Purple thick">
            <p>You care for your company growth and your want your employees to
              be equipped with the latest #tech skills</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="company-card">
          <img src="assets/home/brain.svg" class="company-card-img" alt="Brain">
          <div class="d-flex align-items-start">
            <img src="assets/home/purple-thick.svg" alt="Purple thick">
            <p>You care for your company branding and build a culture of
              learning</p>
          </div>
        </div>
      </div>
    </div>
    <img src="assets/home/saly1.png" class="saly-1" alt="Saly">
    <img src="assets/home/saly2.png" class="saly-2" alt="Saly">
  </div>
</div>

<div class="container section-m">
  <h2>Our #Results-oriented Programs</h2>
  <div class="row">
    <div class="col-md-4 p-0">
      <a href="https://creativehubkos.com/digital-marketing">
        <div class="academy-card" routerLink="digital-marketing">
          <div class="position-relative">
            <img src="assets/home/digital-card.png" class="responsive"
              alt="Digital marketing academy">
          </div>
          <h4>DIgital Marketing</h4>
          <div class="d-flex align-items-center my-2">
            <img src="assets/home/video.svg" class="me-2" alt="Video">
            <p>On campus / Online</p>
          </div>
          <div class="d-flex align-items-center my-2">
            <img src="assets/home/handshake.svg" class="me-2" alt="Handshake">
            <p>10 Hiring partners</p>
          </div>
          <div class="d-flex align-items-center my-2">
            <img src="assets/home/certificate.svg" class="me-2" alt="Video">
            <p>Certificate:</p>
          </div>
          <img src="assets/home/digital-ects.png" alt="ECTS">
        </div>
      </a>
    </div>
    <!-- <div class="col-md-4 p-0">
      <div class="academy-card" routerLink="graphic-design">
        <div class="position-relative">
          <img src="assets/home/graphic-card.png" class="responsive"
            alt="Graphic Design academy">
        </div>
        <h4>GRAPHIC DESIGN</h4>
        <div class="d-flex align-items-center my-2">
          <img src="assets/home/video.svg" class="me-2" alt="Video">
          <p>On campus / Online</p>
        </div>
        <div class="d-flex align-items-center my-2">
          <img src="assets/home/handshake.svg" class="me-2" alt="Handshake">
          <p>7 Hiring partners</p>
        </div>
        <div class="d-flex align-items-center my-2">
          <img src="assets/home/certificate.svg" class="me-2" alt="Video">
          <p>Certificate:</p>
        </div>
        <img src="assets/home/graphic-ects.png" alt="ECTS">
      </div>
    </div> -->
    <div class="col-md-4 p-0">
      <a href="https://creativehubkos.com/hr">
        <div class="academy-card" routerLink="hr">
          <div class="position-relative">
            <img src="assets/home/hr-card.png" class="responsive"
              alt="Human resources academy">
          </div>
          <h4>Human Resources</h4>
          <div class="d-flex align-items-center my-2">
            <img src="assets/home/video.svg" class="me-2" alt="Video">
            <p>On campus / Online</p>
          </div>
          <div class="d-flex align-items-center my-2">
            <img src="assets/home/handshake.svg" class="me-2" alt="Handshake">
            <p>10 Hiring partners</p>
          </div>
          <div class="d-flex align-items-center my-2">
            <img src="assets/home/certificate.svg" class="me-2" alt="Video">
            <p>Certificate:</p>
          </div>
          <img src="assets/home/hr-ects.png" alt="ECTS">
        </div>
      </a>
    </div>
    <div class="col-md-4 p-0">
      <a href="https://creativehubkos.com/front-end" >
        <div class="academy-card">
          <div class="position-relative">
            <img src="assets/home/front-end.png" class="responsive"
              alt="Front-end academy">
          </div>
          <h4>Front-end</h4>
          <div class="d-flex align-items-center my-2">
            <img src="assets/home/video.svg" class="me-2" alt="Video">
            <p>On campus / Online</p>
          </div>
          <div class="d-flex align-items-center my-2">
            <img src="assets/home/handshake.svg" class="me-2" alt="Handshake">
            <p>5 Hiring partners</p>
          </div>
          <div class="d-flex align-items-center my-2">
            <img src="assets/home/certificate.svg" class="me-2" alt="Video">
            <p>Certificate:</p>
          </div>
          <img src="assets/home/front-ects.png" alt="ECTS">
        </div>
      </a>
    </div>
    <div class="col-md-4 p-0">
      <a href="https://creativehubkos.com/data-science">
        <div class="academy-card">
          <div class="position-relative">
            <img src="assets/home/data-card.png" class="responsive"
              alt="Data Science academy">
          </div>
          <h4>Data Science</h4>
          <div class="d-flex align-items-center my-2">
            <img src="assets/home/video.svg" class="me-2" alt="Video">
            <p>On campus / Online</p>
          </div>
          <div class="d-flex align-items-center my-2">
            <img src="assets/home/handshake.svg" class="me-2" alt="Handshake">
            <p>5 Hiring partners</p>
          </div>
          <div class="d-flex align-items-center my-2">
            <img src="assets/home/certificate.svg" class="me-2" alt="Video">
            <p>Certificate:</p>
          </div>
          <img src="assets/home/data-ects.png" alt="ECTS">
        </div>
      </a>
    </div>
    <!-- <div class="col-md-4 p-0">
      <div class="academy-card">
        <div class="position-relative">
          <img src="assets/home/ux-ui-card.png" class="responsive"
            alt="UX/UI academy">
        </div>
        <h4>UX/UI Design</h4>
        <div class="d-flex align-items-center my-2">
          <img src="assets/home/video.svg" class="me-2" alt="Video">
          <p>On campus / Online</p>
        </div>
        <div class="d-flex align-items-center my-2">
          <img src="assets/home/handshake.svg" class="me-2" alt="Handshake">
          <p>10 Hiring partners</p>
        </div>
        <div class="d-flex align-items-center my-2">
          <img src="assets/home/certificate.svg" class="me-2" alt="Video">
          <p>Certificate:</p>
        </div>
        <img src="assets/home/ux-ects.png" alt="ECTS">
      </div>
    </div> -->
  </div>
</div>
<!-- Start of studnets section -->
<div class="section-m">
  <div class="container">
    <h2>STUDENT FEEDBACK</h2>
  </div>
  <div class="students-section">
    <div class="first-row-students">
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I have already graduated but I wanted to get skills in digital
            marketing. I got hired at XYZ digital agency through the Creative
            Hub Partners Program immediately after graduating. ”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student1.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Argjira Avdullahi</h6>
              <p class="academy-name">Digital Marketing Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I have an MA in Mathematics but I thought that it would be
            difficult to find a job with that. I saw the Data Science Academy
            and I thought it would be a good upgrade to my career. With help of
            one of the mentors I started working as a Data Analyst immediately
            after finishing the Academy.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student2.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Gresa Sylejmani</h6>
              <p class="academy-name">Data Science Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I was studying Graphic at University, but I wanted to get
            practical skills and experience and this is why I signed up for the
            Creative Hub Graphic Design Program. I got hired immediately after
            finishing the Academy.“</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student3.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Melisa Xhemajili</h6>
              <p class="academy-name">Graphic Design Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“In the beginning, I started to learn programming on online
            websites, but it was difficult. Now in Creative Hub, I get to be
            monitored by experts and work on real projects.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student4.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Adela Thomaj</h6>
              <p class="academy-name">Front End Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I didn’t have a background in HR, but here at Creative Hub I got
            help by the staff and mentors to gain all the skills needed to
            become a HR specialist. Creative Hub has an amazing hiring program,
            and through this program I got an internship at KFC.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student5.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Vjosa Miftari</h6>
              <p class="academy-name">HR Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“When I enrolled in the Data Science academy I was only 17 years
            old. I learned basic skills and even though I still wasn’t finished
            with the academy I got hired at Quantix as a Junior Data analyst.
            Now I work, study, and live my best life.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student6.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Olti Gashi</h6>
              <p class="academy-name">Data Science Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I have 9 years of experience as a Sales Manager. I wanted to grow
            more in my career, so I decided to start to learn Front-End
            Development.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student7.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Fidan Halilaj</h6>
              <p class="academy-name">Front End Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I have worked as a social media manager for a couple of years now.
            I took the Digital Marketing Academy to gain future-proof skills and
            be a better asset for the company where I work.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student8.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Suzana Shabani</h6>
              <p class="academy-name">Digital Marketing Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I am the mother of three children. I always had a passion for
            numbers and data. When I saw how in demand Data Science as a career,
            I got enrolled immediately at Creative Hub Academy.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student9.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Rajmonda Mehmeti</h6>
              <p class="academy-name">Data Science Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I had a background in Copywriting, I always knew that Digital Marketing is part of my passions. At Creative Hub I gained all the skills needed to become a good Digital Marketer and while I was at the academy I got hired at ONIMA as social media manager and content creator. ”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student10.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Advan Syla</h6>
              <p class="academy-name">Digital Marketing Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I was one of the very first students of Creative Hub. I trusted this academy because their program for Digital Marketing was really adequate. While I was studying there, I got hired at ASHA agency.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student11.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Etnik Krasniqi</h6>
              <p class="academy-name">Digital Marketing Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“Even though I had a background in HR. I enrolled in this academy to expand my knowledge and learn through real-based projects and experienced mentors. I can honestly say that Creative Hub is the best choice to help you boost your career in HR. ”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student12.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Debora Meta</h6>
              <p class="academy-name">HR Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“Even though we didn’t finish the Front-end Academy yet, we got a company offer to start working remotely as developer for Autom8, a company based in Australia.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student13.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Syart Ibrahimi</h6>
              <p class="academy-name">Front End Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“We learned a lot on B2B module, we learned a lot of good strategies that I now use while I work. One of these strategies was for B2B E-commerce.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student14.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Rinor Recica</h6>
              <p class="academy-name">Digital Marketing Academy</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="student-card">
        <div class="student-card-inner">
          <p>“I live in Germany and I listen to the Digital Marketing Academy online. I took the Academy so I can learn how to promote my medtech product better.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student15.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Finesa Shala</h6>
              <p class="academy-name">Digital Marketing Academy</p>
            </div>
          </div>
        </div>
      </div> -->
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I’m a student in Computer Science and Engineering but I wanted to learn more about Front-End and to practice it better. I saw Creative Hub’s Front-End program and I liked the opportunities it gives to us so that’s why I enrolled.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student16.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Engjell Mustafa</h6>
              <p class="academy-name">Front End Academy</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="second-row-students">
      <div class="student-card">
        <div class="student-card-inner">
          <p>“When I first started the academy I had 0 previous knowledge in programming. Thanks to Creative Hub’s lecturers now I have professional skills in the field of Front-End.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student17.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Oktaj Dauti</h6>
              <p class="academy-name">Front End Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“ wanted to get a better position in the company I work in. I joined Creative Hub, so I can expand my data skills more.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student18.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Miranda Gashi</h6>
              <p class="academy-name">Data Science Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I have a degree in economics. But it wasn’t enough for me to get a job in that field. I always felt passionate about HR and when I checked Creative Hub’s HR program I immediately enrolled. It was a program that helps you get the skills through real projects, being mentored by experienced people and help you build your CV and connect you with companies..”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student19.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Kaltrina Berisha</h6>
              <p class="academy-name">HR Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I won a scholarship at Creative Hub. The lecturers here are always ready to answer our questions, even when these questions are out of their planned program.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student20.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Arberesha Rexha</h6>
              <p class="academy-name">Data Science Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“In Creative Hub we learn by the “Learn by doing” method. We immediately started to work on HTML5 & CSS3 projects.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student21.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Elsa Rrustemi              </h6>
              <p class="academy-name">Front End Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I changed my career from Graphic Design to Data Science. In the beginning, I was insecure if I would make it or not, since I had 0 previous experience in this field. But then I decided that this is the path I want to take and I became more confident.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student22.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Lura Meta</h6>
              <p class="academy-name">Data Science Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I’m a 3D artist. I always wanted to get a job that I can do from home, and Front-End as a career gives me this opportunity.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student23.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Denis Deliu</h6>
              <p class="academy-name">Front End Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I was a last year Architecture student and I took Graphic Design Academy. Creative Hub helped me get 3 internships and to start my career.“</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student24.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Endrit Ternava</h6>
              <p class="academy-name">Graphic Design Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I have 6 years of experience in Data Science. But since this field is constantly changing and updating, I wanted to follow the new trends. Now through Creative Hub I expanded and updated my knowledge.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student25.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Argenita Selmanaj </h6>
              <p class="academy-name">Data Science Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I made the wrong University choice, but I really wanted to work in HR. I signed up for the HR Academy and through the Creative Hub Partners Program I got hired at The North Unicorn as HR Assistant.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student26.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Erita Hyseni</h6>
              <p class="academy-name">HR Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I’m a businessman. I wanted to learn Digital Marketing so I can promote my businesses by myself and not pay someone else.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student27.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Besart Peshku</h6>
              <p class="academy-name">Digital Marketing Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I already work in a software and data company, and I wanted to expand my skills and network with data science professionals.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student28.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Teuta Hajrullahu</h6>
              <p class="academy-name">Data Science Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I came to the Data Science Academy because the company where I work invested in upgrading my tech skills. I was student of the month and I feel that I have improved my performance and I am a better asset to work..”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student29.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Gezim Kastrati</h6>
              <p class="academy-name">Data Science Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I graduated Economics and I had problems finding a well-paid job. I wanted to change my career to a well-paid one and this is why I chose front-end but I didn’t know how to start. The Creative Hub Front-end Academy really empowered me and even on the first day I wrote my first code.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student30.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Shqipdona Krasniqi</h6>
              <p class="academy-name">Front End Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>”I would suggest Creative Hub to everyone who wants to be a professional in Digital Marketing. This academy really helps you gain the right skills and it prepares you for the job market.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student31.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Nora Komani</h6>
              <p class="academy-name">Digital Marketing Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I work in the Customer Service sector for a company in Switzerland processing clients and communication through E-Mail and Real Estate, but I wanted to have a plan B career and to learn a new skill. That’s why I enrolled in Front-End academy”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student32.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Mergim Berbati</h6>
              <p class="academy-name">Front End Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I took the Digital Marketing Academy because I wanted to learn in-detail skills about digital marketing and opening my own digital agency. Today I am co-founder of Kutiza, a digital marketing agency in Pristina.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student32.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Drin Arifi</h6>
              <p class="academy-name">Digital Marketing Academy</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="first-row-students">
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I have already taken some previous courses to learn IT, but nothing as the professionally developed Front-end Academy program. I even brought 2 more friends to join the Academy.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student33.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Dardan Rreci</h6>
              <p class="academy-name">Front End Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I already had a background in marketing. But since Digital Marketing is a field that’s always updating and I wanted to get a better position in my career, I enrolled in Digital Marketing academy at Creative Hub. Now, I’m head of marketing at MONUNI.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student34.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Arboneta Lecaj</h6>
              <p class="academy-name">Digital Marketing Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I entrusted my training for Digital Marketing to Creative Hub because their program helps you gain the skills through real based projects, meet experts and help you build your CV and get hired. I got hired as a social media manager at Karrota.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student35.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Liburn Beqiri</h6>
              <p class="academy-name">Digital Marketing Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I’m 16 years old. I wanted to start a career on Front-End and get hired in a short period of time.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student36.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Lorik Krasniqi</h6>
              <p class="academy-name">Front End Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I changed my career path from Law to Data Science. Because Data Science is one of the most in-demand careers.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student37.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Vigan Kolica</h6>
              <p class="academy-name">Data Science Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“All you need to start in Data Science is 100% focus, a supportive team like Creative Hub, and expert lecturers, then the success will be very easy to be achieved.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student38.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Erona Ibrahimi</h6>
              <p class="academy-name">Data Science Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“The future is Front-End Development.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student39.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Lorik Krasniqi</h6>
              <p class="academy-name">Front End Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“Creative Hub’s team and lecturers are very patient and understanding for students who have no previous knowledge of Front-End.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student40.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Jakup Merovci</h6>
              <p class="academy-name">Front End Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“Even though I already had basic knowledge in Data Science and I’m already working as a junior data scientist, I enrolled at the academy because I wanted to update my knowledge and boost my career.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student41.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Arbnor Hetemi </h6>
              <p class="academy-name">Data Science Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I made a wrong University choice and I took the Graphic Design Academy to change my career into a more creative one. Through the Creative Hub Partners Program I got hired at XYZ and started working as a designer.“</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student42.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Arjana Saraci</h6>
              <p class="academy-name">Graphic Design Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I have worked with Data before joining the Academy. I decided to enroll because I wanted to strengthen my knowledge and that is exactly what happened. The projects I was working on were real, I met professionals in the field, and I implemented everything that I learned when we did an analysis on our demographics.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student43.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Fidan Latifi</h6>
              <p class="academy-name">Data Science Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“The way of structuring the process as a whole, with real projects and well-organized resorts has been the best part in this academy”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student44.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Marigona Shabani</h6>
              <p class="academy-name">Data Science Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“Considering that Data Science is an evolving field, I would recommend this academy to everyone.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student45.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Anida Hasanagiq</h6>
              <p class="academy-name">Data Science Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I’m a student in psychology, but design was always my passion. I enrolled in Graphic Design academy and after I graduated I was invited to join Creative Hub’s team as a full-time Graphic Designer.“</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student46.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Sandra N.</h6>
              <p class="academy-name">Graphic Design Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I graduated in Economics but I had a passion for HR. I took the HR Academy and I got hired through the Creative Hub at IPKO and now I work as an HR Assistant.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student47.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Aida Hamiti</h6>
              <p class="academy-name">HR Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“I’m finishing my masters in English literature, but I always wanted to learn new skills and to expand my knowledge in order to be more important for the company I’m working in. ”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student48.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Lundrim Sadiku</h6>
              <p class="academy-name">Digital Marketing Academy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
          <p>“Creative Hub is a very good opinion to join this industry and to practice the skills that you’ve learned during the academy. Here I networked with a lot of experienced people in the Digital Marketing industry.”</p>
          <div class="d-flex align-items-start">
            <img src="assets/home/student49.png" alt="Creative Hub Student">
            <div class="ml-3">
              <h6>Evliana Behrami</h6>
              <p class="academy-name">Digital Marketing Academy</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<div class="container section-m">
  <h2 class="mb-2">OUR INTERNATIONAL CERTIFICATIONS</h2>
  <div class="certificates d-none d-lg-flex">
    <img src="assets/home/shrm.png" alt="SHRM Certificate">
    <img src="assets/home/cpd.png" alt="CPD Certificate">
    <img src="assets/home/ects.png" alt="ECTS">
  </div>
  <div class="text-center">
    <img src="assets/home/certificates.png" class="w-100 d-block d-lg-none"
      alt="Certificates">
  </div>
</div>

<div class="section-m container">
  <div class="hired">
    <h2>HOW DO YOU GET HIRED?</h2>
    <div class="my-5">
      <a routerLink="getting-hired" target="_blank">Find out! <img
        src="assets/home/mouse.svg" class="mouse" alt="Mouse"></a>
    </div>
    <img src="assets/home/saly3.png" class="saly3" alt="Saly">
    <img src="assets/home/saly4.png" class="saly4" alt="Saly">
  </div>
</div>
<!-- End of studnets section -->
<app-why-creative-table></app-why-creative-table>
<div class="envi-wrapper section-m">
  <div class="container d-flex flex-column">
    <div class="environmental">Environmental <br class="d-block d-lg-none">
      Philanthropy</div>
    <p class="ms-1 ms-lg-2">Do you know that for the beginning of each new group
      we plant a tree and improve the environment in which we all live?</p>
    <img src="../../../../assets/Images/ReUsable/environmental.png"
      class="responsive d-none d-lg-block" alt="Environmental">
    <img src="../../../../assets/Images/ReUsable/environmental-mobile.png"
      class="responsive d-block d-lg-none my-5" alt="Environmental">
  </div>
</div>
<app-featured-in></app-featured-in>
<app-footer></app-footer>
