<!-- <div class="form-top" id="formTop">
  <div class="container">
    <p class="m-0 d-block d-lg-none">
      Kap ofertën SUPER EARLY BIRD dhe përfito 200 EURO Zbritje!
    </p>
    <div class="_button-wrapper _full_width">
      <button class="submit-top-btn" id="showHideFormBtn">
          Merr Ofertën
      </button>
    </div>
    <div  class="show-hide" id="mobileForm">
    <form method="POST" action="https://akoskarova.activehosted.com/proc.php" id="_form_257_" class="_form _form_257 _inline-form  _dark" novalidate>
      <input type="hidden" name="u" value="257" />
      <input type="hidden" name="f" value="257" />
      <input type="hidden" name="s" />
      <input type="hidden" name="c" value="0" />
      <input type="hidden" name="m" value="0" />
      <input type="hidden" name="act" value="sub" />
      <input type="hidden" name="v" value="2" />
      <input type="hidden" name="or" value="549d4b5fbbc466266174d67c41627ed7" />
      <div class="_form-content">
        <div class="_form_element _x00427851 _full_width _clear" >
          <div class="_html-code">
            <p class="m-0 d-none d-lg-block">
              Kap ofertën SUPER EARLY BIRD dhe përfito 200 EURO Zbritje!
            </p>
          </div>
        </div>
        <div class="_form_element _x16427735 _full_width " >
          <div class="_field-wrapper">
            <input class="form-control" type="text" id="fullname" name="fullname" placeholder="Emri" required/>
          </div>
        </div>
        <div class="_form_element _x93238613 _full_width " >
          <div class="_field-wrapper">
            <input class="form-control" type="text" id="email" name="email" placeholder="Email Adresa" required/>
          </div>
        </div>
        <div class="_form_element _x15800839 _full_width " >
          <div class="_field-wrapper">
            <input class="form-control" type="text" id="phone" name="phone" placeholder="Numri i Telefonit" required/>
          </div>
        </div>
        <div class="_button-wrapper _full_width">
          <button id="_form_257_submit" class="_submit submit-btn-top" type="submit">
            Apliko tani
          </button>
        </div>
        <div class="_clear-element">
        </div>
      </div>
      <div class="_form-thank-you" style="display:none;">
      </div>
    </form>
    </div>
  </div>
  <img src="assets/Images/x.svg" class="close-top-form" id="closeForm" alt="">
</div> -->



<app-navbar></app-navbar>

<div id="myModal" class="hide" #myModal>

  <!-- Modal content -->
  <div class="modal-contentt">
      <div class="modal-content-inner">


                 <form method="POST" action="https://akoskarova.activehosted.com/proc.php" id="_form_394_" class="_form _form_394 _inline-form  _dark" novalidate>
                  <input type="hidden" name="u" value="394" />
                  <input type="hidden" name="f" value="394" />
                  <input type="hidden" name="s" />
                  <input type="hidden" name="c" value="0" />
                  <input type="hidden" name="m" value="0" />
                  <input type="hidden" name="act" value="sub" />
                  <input type="hidden" name="v" value="2" />
                  <input type="hidden" name="or" value="cced6bda0fe3bba5c67b6d54cb9d6198" />
                  <div class="_form-content">
                    <div class="_form_element _x08317178 _full_width _clear" style="text-align: center;">
                      <img class="_form-image" src="../../../assets/hr/hr-200.jpeg" class="responsive" />
                      </div>
                      <div class="_form_element _x20034906 _full_width _clear" >
                        <div class="_form-title fw-bold my-2">
                          KUPON ME 200 EURO ZBRITJE!
                        </div>
                      </div>
                      <div class="_form_element _x56008132 _full_width " >
                        <label for="fullname" class="_form-label pop-up-label">
                          Emri i plotë
                        </label>
                        <div class="_field-wrapper">
                          <input type="text" class="pop-up-input" id="fullname" name="fullname" placeholder="Shkruaj emrin" required/>
                        </div>
                      </div>
                      <div class="_form_element _x57702267 _full_width " >
                        <label for="email" class="_form-label pop-up-label">
                          Email
                        </label>
                        <div class="_field-wrapper">
                          <input type="text" class="pop-up-input" id="email" name="email" placeholder="Shkruaj email adresën" required/>
                        </div>
                      </div>
                      <div class="_form_element _x79244037 _full_width " >
                        <label for="phone" class="_form-label pop-up-label">
                          Telefoni
                        </label>
                        <div class="_field-wrapper">
                          <input type="text" class="pop-up-input" id="phone" name="phone" placeholder="Shkruaj numrin e telefonit" required/>
                        </div>
                      </div>
                      <div class="_button-wrapper _full_width">
                        <button id="_form_394_submit" class="_submit submit-pop-up-btn" type="submit">
                          Merr zbritjen
                        </button>
                      </div>
                      <div class="_clear-element">
                      </div>
                    </div>
                    <div class="_form-thank-you" style="display:none;">
                    </div>
                  </form>
          <img src="../../../assets/Images/ReUsable/x-btn.svg" id="closeBtn"
           (click)="closeModal()"   alt="">
      </div>
  </div>
</div>



  <div class="container header">
    <div class="header-left">
      <h1>HR ACADEMY</h1>
      <div class="d-block d-lg-none months">
        5.5 months <br>
        <span>Beginner friendly</span>
      </div>
      <div class="d-flex flex-column d-lg-block">
        <p>Learn the most important HR processes, prepare entire HR  <br> material on the Academy and be ready to implement it in <br> any company. 
        </p>
        <button class="apply-btn" (click)="goDown()">Apply now</button>
      </div>
      <div class="d-block d-lg-flex flex-lg-column">
        <div class="d-flex header-cards-mobile my-5">
          <div class="d-block d-lg-flex">
            <app-header-cards [borderGradient]="borderGradient" [innerBg]="innerBg" [headerCardImage]="'assets/hr/job-guarantee.svg'" [headerCardText]="'Guaranteed Job / <br> Internship'"></app-header-cards>
            <app-header-cards [borderGradient]="borderGradient" [innerBg]="innerBg" [headerCardImage]="'assets/hr/shrm.png'"[headerCardText]="'72 PDC’s'"></app-header-cards>
          </div>
          <div class="d-block d-lg-flex">
            <app-header-cards [borderGradient]="borderGradient" [innerBg]="innerBg" [headerCardImage]="'assets/hr/ects.png'"[headerCardText]="' <br> 2,4 ECTS <br> Credits'"></app-header-cards>
            <app-header-cards [borderGradient]="borderGradient" [innerBg]="innerBg" [headerCardImage]="'assets/hr/lamp.svg'"[headerCardText]="'Work on <br> HR solutions'"></app-header-cards>
          </div>
    
        </div>
        <p class="font-weight-bold">
          Career possibilities: <br>
          HR Specialist | HR Manager  | Legal Manager | Recruiter <br>
          Head of HR | Employees Engagement
        </p>
    </div>
    </div>
    <div class="header-right d-none d-lg-block">
      <div>
        5.5 months <br>
        <span>Beginner friendly</span>
      </div>
    </div>
</div>

<app-career-cards [careerBg]="careerBg" [careerText]="careerText" [thickColor]="thickColor" [careerTopBg]="careerTopBg" [ulColor]="ulColor"></app-career-cards>
<app-steps-to-success [firstStepText]="firstStepText" [secondStepText]="secondStepText" [thirdStepText]="thirdStepText"></app-steps-to-success>

<div class="section-m">
  <div class="container">
      <h2>Student Feedback</h2>
  </div>
  <div class="students-section">
      <div class="first-row-students">
        <div class="student-card">
          <div class="student-card-inner">
            <p>“I made the wrong University choice, but I really wanted to work in HR. I signed up for the HR Academy and through the Creative Hub Partners Program I got hired at The North Unicorn as HR Assistant.”</p>
            <div class="d-flex align-items-start">
              <img src="assets/home/student26.png" alt="Creative Hub Student">
              <div class="ml-3">
                <h6>Erita Hyseni</h6>
                <p class="academy-name">HR Academy</p>
              </div>
            </div>
          </div>
        </div>
        <div class="student-card">
          <div class="student-card-inner">
            <p>“I graduated in Economics but I had a passion for HR. I took the HR Academy and I got hired through the Creative Hub at IPKO and now I work as an HR Assistant.”</p>
            <div class="d-flex align-items-start">
              <img src="assets/home/student47.png" alt="Creative Hub Student">
              <div class="ml-3">
                <h6>Aida Hamiti</h6>
                <p class="academy-name">HR Academy</p>
              </div>
            </div>
          </div>
        </div>
        <div class="student-card">
          <div class="student-card-inner">
            <p>“I have a degree in economics. But it wasn’t enough for me to get a job in that field. I always felt passionate about HR and when I checked Creative Hub’s HR program I immediately enrolled. It was a program that helps you get the skills through real projects, being mentored by experienced people and help you build your CV and connect you with companies..”</p>
            <div class="d-flex align-items-start">
              <img src="assets/home/student19.png" alt="Creative Hub Student">
              <div class="ml-3">
                <h6>Kaltrina Berisha</h6>
                <p class="academy-name">HR Academy</p>
              </div>
            </div>
          </div>
        </div>
        <div class="student-card">
          <div class="student-card-inner">
            <p>“I didn’t have a background in HR, but here at Creative Hub I got
              help by the staff and mentors to gain all the skills needed to
              become a HR specialist. Creative Hub has an amazing hiring program,
              and through this program I got an internship at KFC.”</p>
            <div class="d-flex align-items-start">
              <img src="assets/home/student5.png" alt="Creative Hub Student">
              <div class="ml-3">
                <h6>Vjosa Miftari</h6>
                <p class="academy-name">HR Academy</p>
              </div>
            </div>
          </div>
        </div>
        <div class="student-card">
          <div class="student-card-inner">
            <p>“Even though I had a background in HR. I enrolled in this academy to expand my knowledge and learn through real-based projects and experienced mentors. I can honestly say that Creative Hub is the best choice to help you boost your career in HR. ”</p>
            <div class="d-flex align-items-start">
              <img src="assets/home/student12.png" alt="Creative Hub Student">
              <div class="ml-3">
                <h6>Debora Meta</h6>
                <p class="academy-name">HR Academy</p>
              </div>
            </div>
          </div>
        </div>
          <div class="student-card">
              <div class="student-card-inner">
                  <p>“What characterizes the lecturers at Creative Hub is the excellent communication and the elaboration of everything through real life examples.”</p>
                  <div class="d-flex align-items-start">
                      <img src="assets/hr/hr-student1.png" alt="Creative Hub
                          Student">
                      <div class="ml-3">
                          <h6>Ganimete Flugaj</h6>
                          <p class="academy-name">HR Academy</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="student-card">
              <div class="student-card-inner">
                  <p>“I graduated from Fashion Design university. I decided to learn HR so I can manage my brand better.”</p>
                  <div class="d-flex align-items-start">
                    <img src="assets/hr/hr-student2.png" alt="Creative Hub
                          Student">
                      <div class="ml-3">
                          <h6>Lirilinda Salihu</h6>
                          <p class="academy-name">HR Academy</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="student-card">
              <div class="student-card-inner">
                  <p>“What makes Creative Hub’s HR Academy special is the lecturing from the best professionals. This helps you to gain knowledge from their personal experience.</p>
                  <div class="d-flex align-items-start">
                    <img src="assets/hr/hr-student3.png" alt="Creative Hub
                          Student">
                      <div class="ml-3">
                          <h6>Doruntine Kryeziu</h6>
                          <p class="academy-name">HR Academy</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="student-card">
            <div class="student-card-inner">
                <p>“I'm a partner in a travel agency. I believe that HR skills are a must for everyone who wants to be better at managing. ”</p>
                <div class="d-flex align-items-start">
                  <img src="assets/hr/hr-student4.png" alt="Creative Hub
                        Student">
                    <div class="ml-3">
                        <h6>Dorina Cakolli</h6>
                        <p class="academy-name">HR Academy</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="student-card">
          <div class="student-card-inner">
              <p>“Through my time at this academy I had the opportunity to develop my HR skills. I’m very thankful to the lecturer for the amazing job that she has done with us.”</p>
              <div class="d-flex align-items-start">
                <img src="assets/hr/hr-student5.png" alt="Creative Hub
                      Student">
                  <div class="ml-3">
                      <h6>Jehona Dervisholli</h6>
                      <p class="academy-name">HR Academy</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="student-card">
        <div class="student-card-inner">
            <p>“I learned so much at the academy and the lecturer made even the most complex topics interesting and easier to follow through real-word stories and case studies. I highly recommend Creative Hub.”</p>
            <div class="d-flex align-items-start">
              <img src="assets/hr/hr-student6.png" alt="Creative Hub
                    Student">
                <div class="ml-3">
                    <h6>Anita Rama</h6>
                    <p class="academy-name">HR Academy</p>
                </div>
            </div>
        </div>
    </div>
    <div class="student-card">
      <div class="student-card-inner">
          <p>“I would recommend Creative Hub’s program to everyone. I believe that there is no better example than to tell people what has changed for the better at you and how much you have grown with the help of this academy. ”</p>
          <div class="d-flex align-items-start">
            <img src="assets/hr/hr-student7.png" alt="Creative Hub
                  Student">
              <div class="ml-3">
                  <h6>Aulona Muqaj</h6>
                  <p class="academy-name">HR Academy</p>
              </div>
          </div>
      </div>
  </div>
      </div>
  </div>
</div>

<!--PRE ACADEMY SECTION PROGRAM-->
<section>
  <div class="container">
    
    <h2 class="my-5">THE ACADEMY MODULES</h2>


      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Legal Aspects of HR
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>Basic aspects of the legal issues in Human Resources</li>
              <li>Introduction to the basic concepts and applicable legal framework of the labor law</li>
              <li>Employment of foreigners, rights and obligations of the employees</li>
              <li>Rights and obligations of the employers, salary, mandatory social contributions, compensation of
                salary and other payments
              </li>
              <li> Termination of employment, associations of employees and employers, inspection and most common
                violations and amount of prescribed fines
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Financial Aspects for HR Managers
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>HR Activities in each stage of the organizational life cycle</li>
              <li>Human Resources Planning (process & importance)</li>
              <li>How HR impacts the organizational growth</li>
              <li>Creation of a strategic map – Key Performance Indicators (KPIs)</li>
              <li>Financial and non-financial compensations</li>
              <li>Human Resources budgeting, reporting and analyses – interactive learning</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Recruitment & Selection
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li> The forces shaping the future of work & strategic workforce planning process</li>
              <li>Future of jobs & talent management strategies</li>
              <li>Link between recruitment and other employee management practices</li>
              <li>What makes a great recruiter?</li>
              <li>Ways to build your employer brand</li>
              <li>Employee experience & hiring tools</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Performance Management Process
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>Evolution of performance management</li>
              <li>Basics of performance management</li>
              <li>Performance management building blocks</li>
              <li>Elements of performance management</li>
              <li>KPI’s vs. OKR’s</li>

            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            Employee Engagement
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>What is employee engagement?</li>
              <li>Holistic approach in the HR profession</li>
              <li>A team is a group of people, but not every group is a team</li>
              <li>Collective intelligence</li>
              <li>Coaching</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            Training & Development
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>Introduction to HR development</li>
              <li>Organizational learning</li>
              <li>Employee orientation & talent management</li>
              <li>Feedback</li>
              <li>Training & facilitation</li>
              <li>Management development</li>
              <li>Continuous mentoring & career path training</li>
            </ul>
          </div>
        </div>
      </div>

      <p class="fw-bold mt-5 acc-p">Additional Subjects for students on the Fast-track </p>
      
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSeven">
          <button class="accordion-button accordion-fast-track collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                  Coaching Training
          </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>At the end of this module you will have prepared a Coaching training for managers in the organization:</li>
              <li>Give effective feedback</li>
              <li>Foster steady growth</li>
              <li>Motivate star performers </li>
              <li> Provide support to employees need to achieve peak performance</li>
              <li>Tapping their learning styles to make great progress</li>
              <li>Giving them feedback they will actually apply</li>
              <li>Matching people’s skills with your organization’s needs</li>
              <li>Engaging your employees and fostering independence</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingEight">
          <button class="accordion-button accordion-fast-track collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                  Women in Leadership Training
          </button>
        </h2>
        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>At the end of this module you will have prepared  4 trainings to stimulate Women in your organization to take on leadership roles:</li>
              <li>Lead with authenticity techniques</li>
              <li>Show the Leadership Potential techniques</li>
              <li>Learn how to act like a leader before you are one - techniques</li>
              <li>Advocate for Yourself ( as a woman ) - techniques</li>
              <li>Support the Women around you - techniques</li>
              <li>Have men in the organization be better advocates for Women growth - techniques</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingNine">
          <button class="accordion-button accordion-fast-track collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                  Leadership 1 & 2 Training
          </button>
        </h2>
        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>At the end of this module you will have prepared  Leadership Training Modules for your organization and get ready to implement them: </li>
              <li>Strategic Leadership Skills</li>
              <li>Cross-Silo Leadership</li>
              <li>Nimble Leadership</li>
              <li>Both/And Leadership</li>
              <li>The Authenticity Paradox</li>
              <li>How CEOs Manage Time</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTen">
          <button class="accordion-button accordion-fast-track collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseOne">
                  Employer Branding 
          </button>
        </h2>
        <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingTen"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>At the end of this module you will have prepared an Employer Branding annual strategy to implement in your organization: </li>
              <li>Positioning of your company’s Employer Brand</li>
              <li>Understanding Target Candidate and the connection between Recruitment & Employer Branding</li>
              <li>Employer Brand Image Relative to Competitors</li>
              <li>Employer Brand and CSR Strategy in online recruitment advertising</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwelve">
          <button class="accordion-button accordion-fast-track collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
                  Hybrid Recruitment Process
          </button>
        </h2>
        <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>At the end of this module you will be ready to hire people in a hybrid/remote way: </li>
              <li>Learn Simple Tools to make Hiring Easier</li>
              <li>Understand how to hire remote employees</li>
              <li>Understand how to onboard remote employees</li>
              <li>Understand how to deal with a “hybrid” employment culture</li>
              <li>What is the Skills-based approach to hiring? </li>
              <li>Build a recruitment strategy and include the entire team </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</section>

<div class="container training">
  <h3>In the training you will get</h3>
  <div class="training-wrapper">
    <ul>
      <li><h4>10 Digital Articles from Harvard Business Review</h4></li>
      <li><h4>4 Books from Harvard Business Review</h4></li>
      <li><h4>3 Case Studies from Harvard Business Review</h4></li>
      <li><h4>10 Templates on KPI’s, KRA’s, Performance Appraisals, Discipline Process that you can use in your work.</h4></li>
      <li><h4>10 Training & Development Presentations that you will participate in Building and you will have it ready for work. </h4></li>
    </ul>
  </div>
</div>

<!--PRE ACADEMY SECTION PROGRAM--end-->

<!--LEARN FROM INDUSTRY EXPERTS-->
<section class="lecturers-section">
  <div class="container d-none d-lg-block">
    <h2>LEARN FROM OUR <br> LECTURERS-INDUSTRY EXPERTS</h2>
    <br>
    <div class="row lecturers-hover justify-content-center">
      <div class="col-md-4">
        <div class="text-center">
          <a href="https://www.linkedin.com/in/arta-grubi-dr-dr-7305068/" target="blank"><img
            src="../../../assets/hr/expert1.png" class="responsive"></a>
          <h4>Arta Koka Grubi</h4>
          <p>Head of Human Resources and Development at IPKO Telecommunications with 15 years of experience.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <a href="https://www.linkedin.com/in/arijana-koskarova/" target="blank"><img
            src="../../../assets/hr/mentor5.png" class="responsive"></a>
          <h4>Arijana Koskarova</h4>
          <p>Marketing director and co-founder of Creative Hub, member of Forbes Business Council and mentor at the Fast-track Program. 
          </p>
        </div>
      </div>
    </div>
    <div class="row lecturers-hover">
      <div class="col-md-4">
        <div class="text-center">
          <a href="https://www.linkedin.com/in/arta-celina-b1606764/" target="blank"><img
            src="../../../assets/hr/expert3.png" class="responsive"></a>
          <h4>Arta Celina </h4>
          <p>Head of Human Resources and Training at Raiffeisen Bank and Chairman of the HR Committee at KBA.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <a href="https://www.linkedin.com/in/ardian-rexha-33b25339/" target="blank"><img
            src="../../../assets/hr/expert2.png" class="responsive"></a>
          <h4>Ardian Rexha</h4>
          <p>Legal Manager at Deloitte Albania and Kosovo.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <a href="https://www.linkedin.com/in/hana-gashi-salihu-49a903a/" target="blank"><img
            src="../../../assets/hr/expert4.png" class="responsive"></a>
          <h4>Hana Gashi Salihu</h4>
          <p>Head of Human Resources at FINCA Kosovo. Skilled in organizational Development, Recruitment and Retention etc.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-block d-lg-none" id="theCarousel">
    <h2 class="f-43 mt-5 mb-5 text-center">LEARN FROM INDUSTRY EXPERTS</h2>
    <owl-carousel-o [options]="secondOwlOptions2">
      <ng-template carouselSlide>
        <div class="text-center">
          <a href="https://www.linkedin.com/in/ardian-rexha-33b25339/" target="blank"><img
            src="../../../assets/hr/expert1.png" class="responsive"></a>
          <h4>Arta Koka Grubi</h4>
          <p>Head of Human Resources and Development at IPKO Telecommunications with 15 years of experience.</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="text-center">
          <a href="https://www.linkedin.com/in/arijana-koskarova/" target="blank"><img
            src="../../../assets/hr/mentor5.png" class="responsive"></a>
          <h4>Arijana Koskarova</h4>
          <p>Marketing director and co-founder of Creative Hub, member of Forbes Business Council and mentor at the Fast-track Program. 
          </p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="text-center">
          <a href="https://www.linkedin.com/in/ardian-rexha-33b25339/" target="blank"><img
            src="../../../assets/hr/expert2.png" class="responsive"></a>
          <h4>Ardian Rexha</h4>
          <p>Legal Manager at Deloitte Albania and Kosovo.</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="text-center">
          <a href="https://www.linkedin.com/in/arta-celina-b1606764/" target="blank"><img
            src="../../../assets/hr/expert3.png" class="responsive"></a>
          <h4>Arta Celina </h4>
          <p>Head of Human Resources and Training at Raiffeisen Bank and Chairman of the HR Committee at KBA.</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="text-center">
          <a href="https://www.linkedin.com/in/hana-gashi-salihu-49a903a/" target="blank"><img
            src="../../../assets/hr/expert4.png" class="responsive"></a>
          <h4>Hana Gashi Salihu</h4>
          <p>Human Resources Manager at Devolli Corporation skilled in Organizational Development, Recruitment and
            Retention..</p>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>



</section>

<div class="container position-relative certificates">
  <h2 class="certificates-title">THE DIPLOMA</h2>
  <div class="certificates-box-wrapper">
    <div class="certificates-box-inner">
      <h4 class="mb-3 fw-bold">Recognized by HR and employers</h4>
      <p>
        The Society for Human Resource Management is a professional human resources membership association headquartered in Alexandria, Virginia. <br> <br>

        The HR Academy is accredited by SHRM and by the European Commission. <br> <br>
        
        Be part of over 285,000 SHRM certified professionals in the world. <br> 
      </p>
      <h4 class="mt-3 fw-bold">Apply today!</h4>
      <img class="certificates-img d-none d-lg-block" src="assets/hr/laptop_img.png" data-aos="flip-up" data-aos-delay="800"
      data-aos-duration="800" data-aos-easing="linear">
    </div>
  
  </div>
</div>

<div class="text-center">
  <button class="apply-btn" (click)="goDown()">Apply now</button>
</div>
<app-hiring-partners></app-hiring-partners>
<app-why-creative-table></app-why-creative-table>
<div id="cards">
  <app-pricing [justAcademyInfo]="justAcademyInfo" [euCertifiedInfo]="euCertifiedInfo"
 [mainBorderColor]="mainBorderColor" [arrayPricing]="arrayPricing" [euCertifiedBg]="euCertifiedBg" [fastTrackInfo]="fastTrackInfo" [showFastTrack]="'block'"></app-pricing>
</div>

 <div class="container">
    <div class="fast-track">
      <a routerLink="fast-track" target="_blank">      <h3>What is the FAST-TRACK PROGRAM ?</h3></a>
      <img src="assets/hr/click.svg" alt="Click">
    </div>
 </div>
 
<!-- CALCULATOR -->
<div class="calculator-title">
  <span>CALCULATOR</span>
  <br>
  <p>for monthly expenses</p>
</div>

<div class="container" style="padding-top: 10%;">
  <div class="row">
    <div class="col-md-7 choose-academy">
      <p>Choose Academy</p>
      <div>
              <span [ngClass]="currentAcademy === academy.name ? 'active' : ' ' "
                    *ngFor="let academy of arrayOfAccademy" (click)="calcAcademy(academy)">
                  {{academy.name}} {{academy.price}}</span>
      </div>
    </div>
    <div class="col-md-5 choose-installments">
      <p>Choose installments: </p>
      <div>
              <span *ngFor="let installments of arrayOfInstallments"
                    [ngClass]="currentInstallments === installments.month ? 'active' : ' ' "
                    (click)="calcInstallment(installments)">
                  {{installments.month}}
              </span>
      </div>
    </div>
  </div>
</div>
<div class="price-calculator">
  <p><span>Monthly expenses:</span> <br> {{currentMonthPrice | number:'1.2-2'}} €</p>
</div>

<!-- CALCULATOR -->
<app-dardania-video-companies></app-dardania-video-companies>
<app-wheel-hr></app-wheel-hr>
<app-environmental></app-environmental>
<!-- REGISTER FORM -->

<div class="register-form" id="form">
  <h2>Ready to Enroll Now?</h2>
  <div class="register-form-wrapper">
      <h3> HR ACADEMY <span>Application form</span></h3>
      <form method="POST" action="https://akoskarova.activehosted.com/proc.php" id="_form_270_" class="_form _form_270 _inline-form  _dark" novalidate>
        <input type="hidden" name="u" value="270" />
        <input type="hidden" name="f" value="270" />
        <input type="hidden" name="s" />
        <input type="hidden" name="c" value="0" />
        <input type="hidden" name="m" value="0" />
        <input type="hidden" name="act" value="sub" />
        <input type="hidden" name="v" value="2" />
        <input type="hidden" name="or" value="9adb9c7a2390660bc56a95105514324d" />
          <div class="_form-content">
              <div class="row mb-5 mb-lg-0">
                  <div class="col-md-6 mt-1 mt-lg-3">
                    <div class="_form_element _x75711582 _full_width " >
                      <label for="fullname" class="_form-label">
                        Emri i plotë*
                      </label>
                      <div class="_field-wrapper">
                        <input type="text" id="fullname" name="fullname" placeholder="Shkruani emrin e plotë " required/>
                      </div>
                    </div>
                    </div>
                  <div class="col-md-6 mt-1 mt-lg-3"> 
                    <div class="_form_element _x84119616 _full_width " >
                      <label for="phone" class="_form-label">
                        Numri i telefonit*
                      </label>
                      <div class="_field-wrapper">
                        <input type="text" id="phone" name="phone" placeholder="Shkruani numrin" required/>
                      </div>
                    </div>
                    </div>
                  <div class="col-md-6 mt-1 mt-lg-3">
                    <div class="_form_element _x97903327 _full_width " >
                      <label for="email" class="_form-label">
                        Email Adresa*
                      </label>
                      <div class="_field-wrapper">
                        <input type="text" id="email" name="email" placeholder="Shkruani email-in" required/>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mt-1 mt-lg-3">

                    <div class="_form_element _x49556728 _full_width " >
                      <label for="field[14]" class="_form-label">
                        Choose academy
                      </label>
                      <div class="_field-wrapper">
                        <select name="field[14]" id="field[14]" >
                          <option selected>
                          </option>
                          <option value="Only Academy" >
                            Only Academy
                          </option>
                          <option value="EU certified" >
                            EU certified
                          </option>
                          <option value="Option 3" >
                            Option 3
                          </option>
                        </select>
                      </div>
                    </div></div>
              </div>

              <div class="_button-wrapper _full_width">
                <button id="_form_270_submit" class="_submit" type="submit">
                      Apply now
                  </button>
              </div>
              <div class="_clear-element">
              </div>
          </div>
          <div class="_form-thank-you" style="display:none;">
          </div>
      </form>

  </div>
</div>
<div class="terms">
  By clicking on “Submit” I agree and give approval to Kreative Hub LLC to use
  and process my personal data, later store it as long as necessary for the
  purpose for which the data was collected, after which they will be deleted
  in accordance with the Law on Personal Data Protection. I reserve the right
  at any time to withdraw my consent.

  *Required field.
</div>
<app-featured-in></app-featured-in>


<app-footer></app-footer>
