<div class="container">
    <div class="dardania">
        <h2>Ask your company to sponsor your training!</h2>
        <h4>Today our companies are operating with large sets of data, often we
            don’t even know the data that we possess mainly because we don’t
            have the skill set to analyze it.
            But investing in a team member with an economic or engineering
            background can help not only prepare your company for the future but
            also offer new data-driven solutions that can cut costs and speed up
            processes.
        </h4>
        <a
            href="https://www.youtube.com/watch?v=2xsu15BaFnU&t=3s&ab_channel=CreativeHubKosovo"
            target="_blank"> <img src="assets/data-science/dardania.png" class="responsive
                zoom" alt="Dardania"></a>
        <h4> <span>Share</span> this video with your manager.</h4>
    </div>
</div>