<!-- MEET AND GREET -->
<section class="community-marquee">
    <marquee  direction="left">
        COMMUNITY
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        COMMUNITY&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         COMMUNITY&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; COMMUNITY
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COMMUNITY
    </marquee>
</section>
<div class="container">
    <div class="meet-title">Speed networking with our students</div>
    <div class="meet-text">We will help you to build a well-connected professional network! <br>
        Upon registering you will be invited to “Meet & Greet” session <br>
        where you will be introduced to the Community. </div>
    <div class="text-center"><img src="assets/front-end/meet.png" class="responsive" alt="CreativeHub Meet and Greet">
    </div>
    <div class="col-md-10 tv embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jmdRTKegwmk" title="YouTube video player"
            frameborder="0"  allowfullscreen></iframe>
    </div>

    <div class="fb-link">
        <div class="fb-title">Creative Hub community</div>
        <p class="fb-text">Join our Facebook group with over 1,600 students</p>
        <div><a href="https://www.facebook.com/creativehubkosovo/" target="blank"><button><img src="assets/Images/HomeImages/fb.png" alt="FB logo" class="responsive mr-5"> Go to Facebook group <img src="assets/Images/HomeImages/arrow.svg" alt="Arrow logo" class="ml-5 responsive"></button></a></div>
        <div class="fb-faces"><img src="assets/front-end/fb-faces.png" class="responsive"
                alt="CreativeHub Facebook community"> <span> <b>250+ people</b> joined in the last 30 day</span></div>
        <div class="fb-absolute"><img src="assets/front-end/fb-face.png" class="responsive"
                alt="CreativeHub Facebook community"></div>
    </div>
</div><!-- container-end -->
<!-- MEET AND GREET -->