<div class="envi-wrapper section-m">
    <div class="container d-flex flex-column">
            <div class="environmental">Environmental <br class="d-block d-lg-none"> Philanthropy</div>
            <p class="ms-1 ms-lg-2">Do you know that for the beginning of each new group we plant a tree and improve the environment in which we all live?</p>
            <img src="../../../../assets/Images/ReUsable/environmental.png" class="responsive d-none d-lg-block" alt="Environmental">
            <img src="../../../../assets/Images/ReUsable/environmental-mobile.png" class="responsive d-block d-lg-none my-5" alt="Environmental">
            <div class="align-items-center justify-content-center d-flex">
                <button (click)="goToForm()" id="choose">Choose <img src="../../../../assets/Images/ReUsable/click.svg" alt=""></button>
                <p class="m-0">one of our programs and join us!</p>
            </div>
        </div>
    </div>