<div class="container section-m">
  <h2 class="title-mobile title-m">HOW WILL WE GET YOU HIRED?</h2>
  <div class="d-flex">
    <img class="eda-img d-none d-lg-block"
      src="assets/graphic-design/eda_img.png"/>
    <div class="d-flex flex-column get-you-hired">
      <p class="eda-mobile">
        At the Academy you will get part of industry meetups and events that we
        organize to introduce you to the companies. <br> <br>

        Upon graduation if you are in need of a job please contact our Hiring
        coordinator Edonisa.
        <img src="assets/graphic-design/eda_img.png" alt="Edonisa CreativeHub">
      </p>
      <div class="finish-academy-wrapper">
        <div class="finish-academy">
          Our students usually start working 1-3 months after they graduate from our Academy.
        </div>
      </div>
    </div>
  </div>
</div>
