<app-navbar></app-navbar>
<!-- <app-pop-up-digital-form></app-pop-up-digital-form> -->


<!-- <div id="myModal" class="hide" #myModal>

  Modal content
  <div class="modal-contentt">
      <div class="modal-content-inner">


            <form method="POST" action="https://akoskarova.activehosted.com/proc.php" id="_form_352_" class="_form _form_352 _inline-form  _dark" novalidate>
              <input type="hidden" name="u" value="352" />
              <input type="hidden" name="f" value="352" />
              <input type="hidden" name="s" />
              <input type="hidden" name="c" value="0" />
              <input type="hidden" name="m" value="0" />
              <input type="hidden" name="act" value="sub" />
              <input type="hidden" name="v" value="2" />
              <input type="hidden" name="or" value="d4955e6d6f573c79e6fd6d250021f6b1" />
              <div class="_form-content">
                <div class="_form_element _x50454600 _full_width _clear" >
                  <div class="_form-title">
                    
                    <h4 class="fw-bold">Vetëm tani: Merr kupon me zbritje prej 200 EURO!</h4>
                  </div>
                </div>
                <div class="_form_element _x41924517 _full_width " >
                  <label for="firstname" class="_form-label pop-up-label">
                    Emri*
                  </label>
                  <div class="_field-wrapper">
                    <input type="text" id="firstname" name="firstname" class="pop-up-input" placeholder="Shkruaj emrin" required/>
                  </div>
                </div>
                <div class="_form_element _x42674233 _full_width " >
                  <label for="lastname" class="_form-label pop-up-label">
                    Mbiemri*
                  </label>
                  <div class="_field-wrapper">
                    <input type="text" id="lastname" name="lastname" class="pop-up-input" placeholder="Shkruaj mbiemrin" required/>
                  </div>
                </div>
                <div class="_form_element _x40752125 _full_width " >
                  <label for="phone" class="_form-label pop-up-label">
                    Telefoni*
                  </label>
                  <div class="_field-wrapper">
                    <input type="text" id="phone" name="phone" class="pop-up-input" placeholder="Shkruaj numrin e telefonit" required/>
                  </div>
                </div>
                <div class="_form_element _x12152696 _full_width " >
                  <label for="email" class="_form-label pop-up-label">
                    Email*
                  </label>
                  <div class="_field-wrapper">
                    <input type="text" id="email" name="email" class="pop-up-input" placeholder="Email Adresa" required/>
                  </div>
                </div>
                <div class="_button-wrapper _full_width">
                  <button id="_form_352_submit" class="_submit submit-pop-up-btn" type="submit">
                    Apliko
                  </button>
                </div>
                <div class="_clear-element">
                </div>
              </div>
              <div class="_form-thank-you" style="display:none;">
              </div>
            </form>

          <img src="../../../assets/Images/ReUsable/x-btn.svg" id="closeBtn"
          (click)="closeModal()"  alt="">
      </div>
  </div>
</div> -->

<div class="header container">
  <div class="header-left d-none d-lg-block">
    <img src="assets/digital-marketing/header-img.png" class="responsive"
      alt="Beginner Friendly">
    <p class="font-weight-bold">Career possibilities: <br>
      Digital Marketing Manager | Social Media Specialist | <br>
      Copywriter | Head of Marketing | Account Executive
    </p>
  </div>
  <div class="header-right"> 
    <div class="mobile-bg">
      <h1>DIGITAL MARKETING
        ACADEMY</h1>
        <p>Learn the newest trends and be 100% ready to deliver a profitable digital marketing strategy for any business. Completely practical ! </p>
    </div>
    <div class="d-flex justify-content-center my-3 justify-content-lg-end">
      <button class="apply-btn" (click)="goDown()">Apply now</button>   
    </div>
    <div class="d-flex justify-content-center header-cards-mobile">
      <div class="d-block d-lg-flex ">
        <app-header-cards [borderGradient]="borderGradient" [innerBg]="innerBg" [headerCardImage]="'assets/digital-marketing/learning-tracks.png'"[headerCardText]="'3 Learning <br> tracks'"></app-header-cards>
        <app-header-cards [borderGradient]="borderGradient" [innerBg]="innerBg" [headerCardImage]="'assets/digital-marketing/job-guarantee.svg'" [headerCardText]="'Guaranteed Job / <br> Internship'"></app-header-cards>
      </div>
      <div class="d-block d-lg-flex">
        <app-header-cards [borderGradient]="borderGradient" [innerBg]="innerBg" [headerCardImage]="'assets/digital-marketing/practical-work.svg'"[headerCardText]="' Practical <br> work'"></app-header-cards>
        <app-header-cards [borderGradient]="borderGradient" [innerBg]="innerBg" [headerCardImage]="'assets/digital-marketing/ects.png'"[headerCardText]="'+ 5.4 <br> ECTS Credits'"></app-header-cards>
      </div>

    </div>
  </div>
</div>



<app-career-cards [careerBg]="careerBg" [careerText]="careerText"
  [thickColor]="thickColor" [careerTopBg]="careerTopBg" [ulColor]="ulColor"></app-career-cards>

  <div class="section-m container">
    <p class="over-career-p">Because we know how important it is to make the right decision about your future profession, we have prepared:</p>
    <div class="career-form-wrapper">
      <h2>FREE VIDEO LECTURE <br>
        ABOUT COPYWRITING</h2>
      <p>Enter your email address and the video will be sent to you right away.</p>
      <form method="POST" action="https://akoskarova.activehosted.com/proc.php" id="_form_300_" class="_form _form_300 _inline-form  _dark" novalidate>
        <input type="hidden" name="u" value="300" />
        <input type="hidden" name="f" value="300" />
        <input type="hidden" name="s" />
        <input type="hidden" name="c" value="0" />
        <input type="hidden" name="m" value="0" />
        <input type="hidden" name="act" value="sub" />
        <input type="hidden" name="v" value="2" />
        <input type="hidden" name="or" value="7198d81e13aeb6df975a86be26ee8e4c" />
      <div class="_form-content career-form ">
    
        <div class="_form_element _x62645319 _full_width position-relative w-100">
          <div class="_field-wrapper">
            <input type="text" id="email" name="email" placeholder="Email"
              required/>
          </div>
          <div class="_button-wrapper _full_width">
            <button id="_form_300_submit" class="_submit" type="submit">
              <img src="assets/Images/ReUsable/message.svg" class="mr-2" alt=""> <span>Download</span>
            </button>
          </div>
        </div>
    
        <div class="_clear-element">
        </div>
      </div>
      <div class="_form-thank-you" style="display:none;">
      </div>
    </form>
    
    </div>
  </div>


<app-steps-to-success [firstStepText]="firstStepText"
  [secondStepText]="secondStepText" [thirdStepText]="thirdStepText"></app-steps-to-success>
  <div class="section-m">
    <div class="container">
      <h2>Student Feedback</h2>
      </div>
      <div class="students-section">
        <div class="first-row-students">
          <div class="student-card">
            <div class="student-card-inner">
              <p>“I have already graduated but I wanted to get skills in digital
                marketing. I got hired at XYZ digital agency through the Creative
                Hub Partners Program immediately after graduating. ”</p>
              <div class="d-flex align-items-start">
                <img src="assets/home/student1.png" alt="Creative Hub Student">
                <div class="ml-3">
                  <h6>Argjira Avdullahi</h6>
                  <p class="academy-name">Digital Marketing Academy</p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="student-card">
            <div class="student-card-inner">
              <p>“I live in Germany and I listen to the Digital Marketing Academy online. I took the Academy so I can learn how to promote my medtech product better.”</p>
              <div class="d-flex align-items-start">
                <img src="assets/home/student15.png" alt="Creative Hub Student">
                <div class="ml-3">
                  <h6>Finesa Shala</h6>
                  <p class="academy-name">Digital Marketing Academy</p>
                </div>
              </div>
            </div>
          </div> -->
          <div class="student-card">
            <div class="student-card-inner">
              <p>“I took the Digital Marketing Academy because I wanted to learn in-detail skills about digital marketing and opening my own digital agency. Today I am co-founder of Kutiza, a digital marketing agency in Pristina.”</p>
              <div class="d-flex align-items-start">
                <img src="assets/home/drin.png" alt="Creative Hub Student">
                <div class="ml-3">
                  <h6>Drin Arifi</h6>
                  <p class="academy-name">Digital Marketing Academy</p>
                </div>
              </div>
            </div>
          </div>
          <div class="student-card">
            <div class="student-card-inner">
              <p>“I entrusted my training for Digital Marketing to Creative Hub because their program helps you gain the skills through real based projects, meet experts and help you build your CV and get hired. I got hired as a social media manager at Karrota.”</p>
              <div class="d-flex align-items-start">
                <img src="assets/home/student35.png" alt="Creative Hub Student">
                <div class="ml-3">
                  <h6>Liburn Beqiri</h6>
                  <p class="academy-name">Digital Marketing Academy</p>
                </div>
              </div>
            </div>
          </div>
          <div class="student-card">
            <div class="student-card-inner">
              <p>“I already had a background in marketing. But since Digital Marketing is a field that’s always updating and I wanted to get a better position in my career, I enrolled in Digital Marketing academy at Creative Hub. Now, I’m head of marketing at MONUNI.”</p>
              <div class="d-flex align-items-start">
                <img src="assets/home/student34.png" alt="Creative Hub Student">
                <div class="ml-3">
                  <h6>Arboneta Lecaj</h6>
                  <p class="academy-name">Digital Marketing Academy</p>
                </div>
              </div>
            </div>
          </div>
          <div class="student-card">
            <div class="student-card-inner">
              <p>“Creative Hub is a very good opinion to join this industry and to practice the skills that you’ve learned during the academy. Here I networked with a lot of experienced people in the Digital Marketing industry.”</p>
              <div class="d-flex align-items-start">
                <img src="assets/home/student49.png" alt="Creative Hub Student">
                <div class="ml-3">
                  <h6>Evliana Behrami</h6>
                  <p class="academy-name">Digital Marketing Academy</p>
                </div>
              </div>
            </div>
          </div>
          <div class="student-card">
            <div class="student-card-inner">
              <p>“I have worked as a social media manager for a couple of years now.
                I took the Digital Marketing Academy to gain future-proof skills and
                be a better asset for the company where I work.”</p>
              <div class="d-flex align-items-start">
                <img src="assets/home/student8.png" alt="Creative Hub Student">
                <div class="ml-3">
                  <h6>Suzana Shabani</h6>
                  <p class="academy-name">Digital Marketing Academy</p>
                </div>
              </div>
            </div>
          </div>
          <div class="student-card">
            <div class="student-card-inner">
              <p>“I’m 16 years old. I wanted to start a career on Front-End and get hired in a short period of time.”</p>
              <div class="d-flex align-items-start">
                <img src="assets/home/student36.png" alt="Creative Hub Student">
                <div class="ml-3">
                  <h6>Lorik Krasniqi</h6>
                  <p class="academy-name">Front End Academy</p>
                </div>
              </div>
            </div>
          </div>
          <div class="student-card">
            <div class="student-card-inner">
              <p>“The future is Front-End Development.”</p>
              <div class="d-flex align-items-start">
                <img src="assets/home/student39.png" alt="Creative Hub Student">
                <div class="ml-3">
                  <h6>Lorik Krasniqi</h6>
                  <p class="academy-name">Front End Academy</p>
                </div>
              </div>
            </div>
          </div>
          <div class="student-card">
            <div class="student-card-inner">
              <p>“I’m a businessman. I wanted to learn Digital Marketing so I can promote my businesses by myself and not pay someone else.”</p>
              <div class="d-flex align-items-start">
                <img src="assets/home/student27.png" alt="Creative Hub Student">
                <div class="ml-3">
                  <h6>Besart Peshku</h6>
                  <p class="academy-name">Digital Marketing Academy</p>
                </div>
              </div>
            </div>
          </div>
          <div class="student-card">
            <div class="student-card-inner">
              <p>“I had a background in Copywriting, I always knew that Digital Marketing is part of my passions. At Creative Hub I gained all the skills needed to become a good Digital Marketer and while I was at the academy I got hired at ONIMA as social media manager and content creator. ”</p>
              <div class="d-flex align-items-start">
                <img src="assets/home/student10.png" alt="Creative Hub Student">
                <div class="ml-3">
                  <h6>Advan Syla</h6>
                  <p class="academy-name">Digital Marketing Academy</p>
                </div>
              </div>
            </div>
          </div>
          <div class="student-card">
            <div class="student-card-inner">
              <p>“I was one of the very first students of Creative Hub. I trusted this academy because their program for Digital Marketing was really adequate. While I was studying there, I got hired at ASHA agency.”</p>
              <div class="d-flex align-items-start">
                <img src="assets/home/student11.png" alt="Creative Hub Student">
                <div class="ml-3">
                  <h6>Etnik Krasniqi</h6>
                  <p class="academy-name">Digital Marketing Academy</p>
                </div>
              </div>
            </div>
          </div>  
          <div class="student-card">
            <div class="student-card-inner">
              <p>”I would suggest Creative Hub to everyone who wants to be a professional in Digital Marketing. This academy really helps you gain the right skills and it prepares you for the job market.”</p>
              <div class="d-flex align-items-start">
                <img src="assets/home/student31.png" alt="Creative Hub Student">
                <div class="ml-3">
                  <h6>Nora Komani</h6>
                  <p class="academy-name">Digital Marketing Academy</p>
                </div>
              </div>
            </div>
          </div>
          <div class="student-card">
            <div class="student-card-inner">
              <p>“We learned a lot on B2B module, we learned a lot of good strategies that I now use while I work. One of these strategies was for B2B E-commerce.”</p>
              <div class="d-flex align-items-start">
                <img src="assets/home/student14.png" alt="Creative Hub Student">
                <div class="ml-3">
                  <h6>Rinor Recica</h6>
                  <p class="academy-name">Digital Marketing Academy</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
<div class="container section-m">

  <h2 class="text-center my-3">WHAT YOU'LL LEARN</h2>
  <div class="row classes-desktop d-none d-lg-flex">
    <div class="col-md-4">
      <div class="card-shadow">
        <div class="card-head">
          <h4>Google <br> Ads</h4>
            <img src="assets/digital-marketing/google.svg" class="card-logo responsive" alt="What you will learn in Creativehub">
        </div>
        <p class="font-weight-bold">You will learn how to create ads that appear on Google search engine, banners, and YouTube ads.</p>
      </div>  </div>


    <div class="col-md-4">
      <div class="card-shadow">
        <div class="card-head">
          <h4>Go-to-market <br>
            strategy
          </h4>
          <img src="assets/digital-marketing/go-to-market.svg" class="card-logo
            responsive"
            alt="What you will learn in Creativehub">
        </div>
        <p class="font-weight-bold">You will learn a performance marketing tactics for social media camapigns, you will get opportunity to understand the concept of marketing agency and get ready to work in one.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-shadow">
        <div class="card-head">
          <h4>Email 
            marketing
          </h4>
          <img src="assets/digital-marketing/email-marketing.svg" class="card-logo
            responsive"
            alt="What you will learn in Creativehub">
        </div>
        <p class="font-weight-bold">
          You will learn email marketing strategies to attract leads, nurture them and build relationships with them. 
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-shadow">
        <div class="card-head">
          <h4>Paid Ads
          </h4>
          <img src="assets/digital-marketing/ads.svg" class="card-logo
            responsive"
            alt="What you will learn in Creativehub">
        </div>
        <p class="font-weight-bold">
          You will master the creation of well-targeted and placed ads for Facebook and Instagram, how to follow and optimize the results.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-shadow">
        <div class="card-head">
          <h4>SEO
          </h4>
          <img src="assets/digital-marketing/seo.svg" class="card-logo
            responsive"
            alt="What you will learn in Creativehub">
        </div>
        <p class="font-weight-bold">
          You will learn how to optimize your website through specific tools and keywords and rank it organic on Google. 
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-shadow">
        <div class="card-head">
          <h4>Digital Marketing <br>
            Strategy
            
          </h4>
          <img src="assets/digital-marketing/strategy.svg" class="card-logo
            responsive"
            alt="What you will learn in Creativehub">
        </div>
        <p class="font-weight-bold">
          You will learn how to create a successful marketing strategy and how to determine the channels, activities and tools you will use.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-shadow">
        <div class="card-head">
          <h4>Analytics
          </h4>
          <img src="assets/digital-marketing/analytics.svg" class="card-logo
            responsive"
            alt="What you will learn in Creativehub">
        </div>
        <p class="font-weight-bold">You will learn to set up pixels and connect analytics dashboards in order to measure the performance and bring the best possible results for your clients.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-shadow">
        <div class="card-head">
          <h4>Content
            Creation</h4>
          <img src="assets/digital-marketing/content.svg" class="card-logo
            responsive"
            alt="What you will learn in Creativehub">
        </div>
        <p class="font-weight-bold">
          You will learn how to transform your ideas into resonant stories that engage with your customers.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-shadow">
        <div class="card-head">
          <h4>Copywriting
          </h4>
          <img src="assets/digital-marketing/copy.svg" class="card-logo
            responsive"
            alt="What you will learn in Creativehub">
        </div>
        <p class="font-weight-bold">You will learn how to write a copy that will best promote your product or service to as many people as possible.
        </p>
      </div>
    </div>
  </div>

  <div class="text-center d-block d-lg-none" >
    <owl-carousel-o [options]="customOptionsClasses">
      <ng-template carouselSlide>

          <div class="card-shadow">
            <div class="card-head">
              <h4>Google Ads</h4>
                <img src="assets/digital-marketing/google.svg" class="card-logo responsive" alt="What you will learn in Creativehub">
            </div>
            <p class="font-weight-bold">You will learn how to create ads that appear on Google search engine, banners, and YouTube ads.</p>
          </div> 

          <div class="card-shadow">
            <div class="card-head">
              <h4>Go-to-market
                strategy
              </h4>
              <img src="assets/digital-marketing/go-to-market.svg" class="card-logo
                responsive"
                alt="What you will learn in Creativehub">
            </div>
            <p class="font-weight-bold">You will learn a performance marketing tactics for social media camapigns, you will get opportunity to understand the concept of marketing agency and get ready to work in one.
            </p>
          </div>

          <div class="card-shadow">
            <div class="card-head">
              <h4>Email 
                marketing
              </h4>
              <img src="assets/digital-marketing/email-marketing.svg" class="card-logo
                responsive"
                alt="What you will learn in Creativehub">
            </div>
            <p class="font-weight-bold">
              You will learn email marketing strategies to attract leads, nurture them and build relationships with them. 
            </p>
          </div>        
      </ng-template>

      <ng-template carouselSlide>

          <div class="card-shadow">
            <div class="card-head">
              <h4>Paid Ads</h4>
              <img src="assets/digital-marketing/ads.svg" class="card-logo
                responsive"
                alt="What you will learn in Creativehub">
            </div>
            <p class="font-weight-bold">
              You will master the creation of well-targeted and placed ads for Facebook and Instagram, how to follow and optimize the results.
            </p>
          </div>

    

          <div class="card-shadow">
            <div class="card-head">
              <h4>SEO </h4>
              <img src="assets/digital-marketing/seo.svg" class="card-logo
                responsive"
                alt="What you will learn in Creativehub">
            </div>
            <p class="font-weight-bold">
              You will learn how to optimize your website through specific tools and keywords and rank it organic on Google. 
            </p>
          </div>

    

          <div class="card-shadow">
            <div class="card-head">
              <h4>Digital Marketing Strategy</h4>
              <img src="assets/digital-marketing/strategy.svg" class="card-logo
                responsive"
                alt="What you will learn in Creativehub">
            </div>
            <p class="font-weight-bold">
              You will learn how to create a successful marketing strategy and how to determine the channels, activities and tools you will use.
            </p>
          </div>

      </ng-template>
      <ng-template carouselSlide>

          <div class="card-shadow">
            <div class="card-head">
              <h4>Analytics
              </h4>
              <img src="assets/digital-marketing/analytics.svg" class="card-logo
                responsive"
                alt="What you will learn in Creativehub">
            </div>
            <p class="font-weight-bold">You will learn to set up pixels and connect analytics dashboards in order to measure the performance and bring the best possible results for your clients.
            </p>
          </div>

          <div class="card-shadow">
            <div class="card-head">
              <h4>Content
                Creation</h4>
              <img src="assets/digital-marketing/content.svg" class="card-logo
                responsive"
                alt="What you will learn in Creativehub">
            </div>
            <p class="font-weight-bold">
              You will learn how to transform your ideas into resonant stories that engage with your customers.
            </p>
          </div>
    

          <div class="card-shadow">
            <div class="card-head">
              <h4>Copywriting
              </h4>
              <img src="assets/digital-marketing/copy.svg" class="card-logo
                responsive"
                alt="What you will learn in Creativehub">
            </div>
            <p class="font-weight-bold">You will learn how to write a copy that will best promote your product or service to as many people as possible.
            </p>
          </div>
      </ng-template>

    </owl-carousel-o>
  </div>
  </div>

  <div class="container">
  <div class="row d-none d-lg-flex section-m">
    <h2 class="text-center">THE EXPERTS WHO WILL LEAD <br> YOU
      ON THE WAY</h2>


      <div class="col-md-4 text-center">
        <div class="expert">
          <img src="assets/digital-marketing/expert2.png" class="expert-img"
            alt="CreativeHub Expert">
          <p class="font-weight-bold">Arbër Hajrizaj</p>
          <p>Еxperienced market researcher and marketer. Working in
            the marketing department at IPKO Telecommunications, worked for
            internationall
            companies like Kantar TNS
            and Coca-Cola HBC.</p>
        </div>
      </div>
    <div class="col-md-4 text-center">
      <div class="expert">
        <img src="assets/digital-marketing/expert4.png" class="expert-img"
          alt="CreativeHub Expert">
          <p class="font-weight-bold">Andrra Sylqe</p>
        <p>Experienced for 7 years in Digital Marketing industry . Digital Marketing Manager at NOEXIS.
          A certified marketer from Google and Hub Spot.
          </p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="expert">
        <img src="assets/digital-marketing/expert5.png" class="expert-img"
          alt="CreativeHub Expert">
          <p class="font-weight-bold">Arnolld Korenica</p>
        <p>PR and Marketing Specialist for Kosmonte Foods. 10 years of experience as copywriter for Telegrafi.com. </p>
      </div>
    </div>
    <div class="offset-md-2 col-md-4 text-center mt-5">
      <div class="expert">
        <img src="assets/digital-marketing/expert-arijana.png" class="expert-img"
          alt="CreativeHub Expert">
        <p class="font-weight-bold">Arijana Koskarova</p>
        <p>
          Marketing director and co-founder of Creative Hub, member of Forbes Business Council and mentor at the Fast-track Program. 
        </p>
      </div>
    </div>
    <div class="col-md-4 text-center mt-5">
      <div class="expert">
        <img src="assets/digital-marketing/expert1.png" class="expert-img"
          style="width: 285px; height: 285px;"
          alt="CreativeHub Expert">
        <p class="font-weight-bold">Shqipron Nuhiu</p>
        <p>Master in Digital Marketing. Owner of Esencial Agency and Google Ads specialist.
        </p>
      </div>
    </div>
  </div>
  <div class="d-block d-lg-none text-center">
    <h2 class="text-center">THE EXPERTS WHO WILL LEAD <br> YOU
      ON THE WAY</h2>
    <owl-carousel-o [options]="customOptionsClasses">
      <ng-template carouselSlide>
        <div class="expert">
          <img src="assets/digital-marketing/expert2.png" class="expert-img"
            alt="CreativeHub Expert">
          <p class="font-weight-bold">Arbër Hajrizaj</p>
          <p>Еxperienced market researcher and marketer. Working in
            the marketing department at IPKO Telecommunications, worked for
            internationall
            companies like Kantar TNS
            and Coca-Cola HBC.</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="expert">
          <img src="assets/digital-marketing/expert4.png" class="expert-img"
            alt="CreativeHub Expert">
            <p class="font-weight-bold">Arbër Hajrizaj</p>
          <p>Experienced for 7 years in Digital Marketing industry . Digital Marketing Manager at NOEXIS.
            A certified marketer from Google and Hub Spot.
            </p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="expert">
          <img src="assets/digital-marketing/expert5.png" class="expert-img"
            alt="CreativeHub Expert">
            <p class="font-weight-bold">Arnolld Korenica</p>
          <p>PR and Marketing Specialist for Kosmonte Foods. 10 years of experience as copyrighter for Telegraf.com. </p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="expert">
          <img src="assets/digital-marketing/expert-arijana.png" class="expert-img"
            alt="CreativeHub Expert">
          <p class="font-weight-bold">Arijana Koskarova</p>
          <p>
            Marketing director and co-founder of Creative Hub, member of Forbes Business Council and mentor at the Fast-track Program. 
          </p>
        </div>
      </ng-template>
      <ng-template carouselSlide>

      <div class="expert">
        <img src="assets/digital-marketing/expert1.png" class="expert-img"
          style="width: 285px; height: 285px;"
          alt="CreativeHub Expert">
        <p class="font-weight-bold">Shqipron Nuhiu</p>
        <p>Master in Digital Marketing. Owner of Esencial Agency and Google Ads specialist.
        </p>
      </div>

      </ng-template>
    </owl-carousel-o>
  </div>

</div> <!-- container end -->
<div class="container position-relative certificates">
  <h2 class="certificates-title">THE DIPLOMA</h2>
  <div class="certificates-box-wrapper">
    <div class="certificates-box-inner">
      <p>
        <span class="fw-bold">CPD</span> is internationally recognized diploma that you can display on your LinkedIn profile.  <br> <br>

        In Creative Hub Digital Marketing Academy you can apply for CPD Certification and <span>EU Certificate with ECTS credits.</span> <br> <br>
        
        Either one will add value to your portfolio on the global market. <br> <br>
      </p>
      <a href="https://cpduk.co.uk/providers/creative-hub" target="_blank">See what CPD means</a>
      <img class="certificates-img d-none d-lg-block" src="assets/digital-marketing/laptop_img.png" data-aos="flip-up" data-aos-delay="800"
      data-aos-duration="800" data-aos-easing="linear">
    </div>
  </div>
</div>

  <!-- <div class="cpd-wrapper">
    <div class="container">
      <h2>YES, we are cpd certified!</h2>
      <h3>What does that mean?</h3>
      <h4>It means that ....</h4>
    </div>
      <img src="../../../assets/digital-marketing/large-cpd.png" alt="CPD">
  </div> -->

<div class="d-flex justify-content-center">
  <button class="apply-btn mt-5 m-lg-0" (click)="goDown()">Apply now</button>   
</div>


<app-hiring-partners></app-hiring-partners>
<app-why-creative-table></app-why-creative-table>
<app-dardania-video-companies></app-dardania-video-companies>
<div id="cards">
  <app-pricing [justAcademyInfo]="justAcademyInfo" [euCertifiedInfo]="euCertifiedInfo"
 [mainBorderColor]="mainBorderColor" [arrayPricing]="arrayPricing" [euCertifiedBg]="euCertifiedBg" [fastTrackInfo]="fastTrackInfo" [showFastTrack]="'block'"></app-pricing>
</div>

 <!-- <div class="container">
  <div class="fast-track">
    <h3 routerLink="fast-track">What is the FAST-TRACK PROGRAM ?</h3>
    <img src="assets/hr/click.svg" alt="Click">
  </div>
</div> -->

<!-- CALCULATOR -->
<div class="calculator-title">
  <span>CALCULATOR</span>
  <br>
  <p>for monthly expenses</p>
</div>

<div class="container" style="padding-top: 10%;">
  <div class="row">
    <div class="col-md-7 choose-academy">
      <p>Choose Academy</p>
      <div>
        <span [ngClass]="currentAcademy === academy.name ? 'active' : '
          '"*ngFor="let
          academy of arrayOfAccademy" (click)="calcAcademy(academy)">
          {{academy.name}} {{academy.price}}</span>
      </div>
    </div>
    <div class="col-md-5 choose-installments">
      <p>Choose installments: </p>
      <div>
        <span *ngFor="let installments of arrayOfInstallments"
          [ngClass]="currentInstallments === installments.month ? 'active' : '
          '"(click)="calcInstallment(installments)">
          {{installments.month}}
        </span>
      </div>
    </div>
  </div>
</div>
<div class="price-calculator">
  <p><span>Monthly expenses:</span> <br> {{currentMonthPrice | number:'1.2-2'}}
    €</p>
</div>

<!-- CALCULATOR -->

 <app-calendly></app-calendly>

 <div class="wheel section-m text-center">
  <h2>Feeling lucky today?</h2>
  <h3>Try out your luck on our lucky spinning wheel</h3>
  <app-wheel-digital></app-wheel-digital>
</div>

<app-environmental></app-environmental>
<!-- REGISTER FORM -->

<div class="register-form" id="form">
  <h2>Ready to Enroll Now?</h2>
  <div class="register-form-wrapper">
      <h3> DIGITAL MARKETING ACADEMY <span>Application form</span></h3>
      <form method="POST" action="https://akoskarova.activehosted.com/proc.php" id="_form_298_" class="_form _form_298 _inline-form  _dark" novalidate>
        <input type="hidden" name="u" value="298" />
        <input type="hidden" name="f" value="298" />
        <input type="hidden" name="s" />
        <input type="hidden" name="c" value="0" />
        <input type="hidden" name="m" value="0" />
        <input type="hidden" name="act" value="sub" />
        <input type="hidden" name="v" value="2" />
        <input type="hidden" name="or" value="5cfef804d0762d46cde05b1619a35e51" />
          <div class="_form-content">
              <div class="row mb-5 mb-lg-0">
                  <div class="col-md-6 mt-1 mt-lg-3">
                    <div class="_form_element _x75711582 _full_width " >
                      <label for="fullname" class="_form-label">
                        Emri i plotë*
                      </label>
                      <div class="_field-wrapper">
                        <input type="text" id="fullname" name="fullname" placeholder="Shkruani emrin e plotë " required/>
                      </div>
                    </div>
                    </div>
                  <div class="col-md-6 mt-1 mt-lg-3"> 
                    <div class="_form_element _x84119616 _full_width " >
                      <label for="phone" class="_form-label">
                        Numri i telefonit*
                      </label>
                      <div class="_field-wrapper">
                        <input type="text" id="phone" name="phone" placeholder="Shkruani numrin" required/>
                      </div>
                    </div>
                    </div>
                  <div class="col-md-6 mt-1 mt-lg-3">
                    <div class="_form_element _x49324586 _full_width " >
                      <label for="email" class="_form-label">
                        Email Adresa*
                      </label>
                      <div class="_field-wrapper">
                        <input type="text" id="email" name="email" placeholder="Shkruani emailin" required/>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mt-1 mt-lg-3">

                    <div class="_form_element _x49556728 _full_width " >
                      <label for="field[14]" class="_form-label">
                        Choose academy
                      </label>
                      <div class="_field-wrapper">
                        <select name="field[14]" id="field[14]" >
                          <option selected>
                          </option>
                          <option value="Only Academy" >
                            Only Academy
                          </option>
                          <option value="EU certified" >
                            EU certified
                          </option>
                          <option value="Option 3" >
                            Fast Track
                          </option>
                        </select>
                      </div>
                    </div></div>
              </div>

              <div class="_button-wrapper _full_width">
                <button id="_form_298_submit" class="_submit" type="submit">
                      Apply now
                  </button>
              </div>
              <div class="_clear-element">
              </div>
          </div>
          <div class="_form-thank-you" style="display:none;">
          </div>
      </form>

  </div>
</div>
<div class="terms">
  By clicking on “Submit” I agree and give approval to Kreative Hub LLC to use
  and process my personal data, later store it as long as necessary for the
  purpose for which the data was collected, after which they will be deleted
  in accordance with the Law on Personal Data Protection. I reserve the right
  at any time to withdraw my consent.

  *Required field.
</div>
<app-featured-in></app-featured-in>
<app-footer></app-footer>



