<app-navbar></app-navbar>
<div class="container">
    <h2 class="mt-5 mb-5">PAYMENT</h2>
    <div class="row mb-5">
    <div class="col-md-7">
        <form>
            <div class="form-group">
              <label for="">Name and Surname</label>
              <input type="text" class="form-control" id=""  placeholder="e.g. Ricardo Pappa">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" class="form-control" id=""  placeholder="you@example.com">
              </div>
              <div class="form-group">
                <label for="">Phone number</label>
                <input type="email" class="form-control" id=""  placeholder="e.g. +41 123 4567">
              </div>
            <div class="form-group">
              <label for="">Street</label>
              <input type="email" class="form-control" id="" placeholder="Street no.1">
            </div>
          </form>
    </div>
    <div class="col-md-5">
        <h4>Order review</h4>
        <div class="order-card">
            <h3>GRAPHIC DESIGN ACADEMY</h3>
            <div class="order-wrapper">
                <img src="assets/Images/order-academy.png" alt="">
                <div>EU CERTIFIED ACADEMY <br> <span>1599</span> eur <p>180 hours</p></div>
            </div>
        </div>
        <small class="text-center">By signing up, you agree with Creative Hub's 
            <a href="">Terms of Services</a> and <a href="">Privacy Policy</a></small>
        <button class="submit-btn">Pay</button>
    </div>
</div>
</div>

<app-footer></app-footer>