
<div class="container section-m">
    <h2 class="title-m">DO YOU SEE YOURSELF HERE?</h2>
    <div class="d-block d-lg-flex justify-content-center">

        <div class="career-card">
            <h4 [style.background]="careerTopBg">Career Changer</h4>
            <div [style.background]="careerBg" [style.color]="ulColor" class="career-ul">
                <div class="d-flex align-items-start">
                    <img [src]="thickColor" class="me-2"
                        alt="Thick">
                    <p>Are you growing in your job?</p>
                </div>
                <div class="d-flex align-items-start">
                    <img [src]="thickColor" class="me-2"
                        alt="Thick">
                    <p>Is your job not paying you enough money?</p>
                </div>
                <div class="d-flex align-items-start">
                    <img [src]="thickColor" class="me-2"
                        alt="Thick">
                    <p>Are you growing or stagnating? </p>
                </div>
                <div class="d-flex align-items-start">
                    <img [src]="thickColor" class="me-2"
                        alt="Thick">
                    <p>Are you sick and tired of living the same life and doing
                        the same work over and over again?
                    </p>
                </div>
                <div class="d-flex align-items-start">
                    <img [src]="thickColor" class="me-2"
                        alt="Thick">
                    <p>Do you feel you deserve to earn more?
                    </p>
                </div>
                <div class="d-flex align-items-start">
                    <img [src]="thickColor" class="me-2"
                        alt="Thick">
                    <p>Are you tired of having a boss above your head?
                    </p>
                </div>
            </div>
        </div>

        <div class="career-card">
            <h4 [style.background]="careerTopBg">Unemployed</h4>
            <div [style.background]="careerBg" [style.color]="ulColor" class="career-ul">
                <div class="d-flex align-items-start">
                    <img [src]="thickColor" class="me-2"
                        alt="Thick">
                    <p>Do you have difficulties finding a job?</p>
                </div>
                <div class="d-flex align-items-start">
                    <img [src]="thickColor" class="me-2"
                        alt="Thick">
                    <p> {{careerText}}
                    </p>
                </div>
                <div class="d-flex align-items-start">
                    <img [src]="thickColor" class="me-2"
                        alt="Thick">
                    <p>Are you tired of feeling stressed because you don’t know how to survive the month?
                    </p>
                </div>
                <div class="d-flex align-items-start">
                    <img [src]="thickColor" class="me-2"
                        alt="Thick">
                    <p>Are you surrounded by people who are successful in their careers and you do not know where to start?
                    </p>
                </div>
                <div class="d-flex align-items-start">
                    <img [src]="thickColor" class="me-2"
                        alt="Thick">
                    <p>Did you make the wrong university choice?
                    </p>
                </div>
                <div class="d-flex align-items-start">
                    <img [src]="thickColor" class="me-2"
                        alt="Thick">
                    <p>Are you feeling like a failure because you dropped out of university?
                    </p>
                </div>
            </div>
        </div>

        <div class="career-card">
            <h4  [style.background]="careerTopBg">High School Graduate </h4>
            <div [style.background]="careerBg" [style.color]="ulColor" class="career-ul">
                <div class="d-flex align-items-start">
                    <img [src]="thickColor" class="me-2"
                        alt="Thick">
                    <p>Are you finishing high school and you don’t have any idea what you’re gonna do with your life?</p>
                </div>
                <div class="d-flex align-items-start">
                    <img [src]="thickColor" class="me-2"
                        alt="Thick">
                    <p>Do you want to travel and work remotely from anywhere?</p>
                </div>
                <div class="d-flex align-items-start">
                    <img [src]="thickColor" class="me-2"
                        alt="Thick">
                    <p>You don’t want to spend 3 years in a university but want a fast-track program? </p>
                </div>
                <div class="d-flex align-items-start">
                    <img [src]="thickColor" class="me-2"
                        alt="Thick">
                    <p>Do you want to start working today? </p>
                </div>
                <div class="d-flex align-items-start">
                    <img [src]="thickColor" class="me-2"
                        alt="Thick">
                    <p>Do you feel you deserve to earn more?
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>