<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-3  mt-5">
        <app-my-acc-navigation></app-my-acc-navigation>
    </div>
        <div class="col-md-4  offset-md-1 mt-5">
            <h1>Password</h1>
            <form>
                <div class="form-group">
                  <label for="">Old password</label>
                  <input type="text" class="form-control" id=""  placeholder="********************">
                </div>
                <div class="form-group">
                    <label for="">New password</label>
                    <input type="email" class="form-control" id=""  placeholder="********************">
                  </div>
                  <div class="form-group">
                    <label for="">Confirm new password</label>
                    <input type="email" class="form-control" id=""  placeholder="********************">
                  </div>
              </form>
        </div>
    </div>
</div>

<app-footer></app-footer>