<div class="container section-m">
    <h3 class="title-m">STEPS TO SUCCESS</h3>

<div class="row">
    <div class="col-md-4">
        <div class="first-step-wrapper">
            <div class="step-inner">
                <img src="assets/Images/ReUsable/1.svg" alt="First step">
                    <p [innerHTML]="firstStepText">
                    </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="second-step-wrapper">
            <div class="step-inner">
                <img src="assets/Images/ReUsable/2.svg" alt="First step">
                    <p [innerHTML]="secondStepText">
                    </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="third-step-wrapper">
            <div class="step-inner">
                <img src="assets/Images/ReUsable/3.svg" alt="First step">
                    <p [innerHTML]="thirdStepText">
                    </p>
            </div>
        </div>
    </div>
</div>

</div>