<div class="modal fade" id="modalToggle3" aria-hidden="true" aria-labelledby="modalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-5 d-none d-lg-block" style="padding: 0;"><img src="assets/Images/login_img.png"
                                                                         class="login-img" alt="Login Image"></div>
        <div class="col-md-7 login-bg">
          <div class="text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <h3 class="mb-3">FORGOT YOUR PASSWORD?</h3>
          <p class="small-text text-center">Enter your registered e-mail below to receive password reset
            instructions</p>
          <div class="mb-3">
            <label for="forgotEmail" class="form-label">Your e-mail address</label>
            <input type="email" class="form-control" id="forgotEmail" placeholder="you@example.com">
            <div class="text-center mt-3 mb-3">
              <button type="submit" class="submit-btn">Send</button>
            </div>
          </div>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
