
<!-- The Modal -->
<div id="myModal" class="hide">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-content-inner">
            <h4 id="category" class="cabin"></h4>
            <br>
            <h5 class="cabin">Sign up for Digital Marketing Demo Day  </h5>
            <h5 class="cabin">Meet the Lecturers & the Program</h5>
            <div class="date">
                <div class="d-flex me-3">
                    <img src="assets/Images/ReUsable/video.svg" alt="Video">
                    <p>Online</p></div>
                <div class="d-flex me-3">
                    <img src="assets/Images/ReUsable/date.svg" alt="Video">
                    <p>02.06.2022</p>
                </div>
                <div class="d-flex me-3">
                    <img src="assets/Images/ReUsable/time.svg" alt="Video">
                    <p>19:00</p>
                </div>
            </div>
            <form method="POST" action="https://akoskarova.activehosted.com/proc.php" id="_form_133_" class="_form _form_133 _inline-form  _dark" novalidate>
              <input type="hidden" name="u" value="133" />
              <input type="hidden" name="f" value="133" />
              <input type="hidden" name="s" />
              <input type="hidden" name="c" value="0" />
              <input type="hidden" name="m" value="0" />
              <input type="hidden" name="act" value="sub" />
              <input type="hidden" name="v" value="2" />
              <input type="hidden" name="or" value="f7830fdbc72886b08569d23861136b1c" />
              <div class="_form-content">
                <div class="_form_element _x86800102 _full_width " >
                  <label for="firstname" class="_form-label">
                    First Name
                  </label>
                  <div class="_field-wrapper">
                    <input type="text" id="firstname" name="firstname" placeholder="Type your first name" required/>
                  </div>
                  <!--  This STARTS the Custom Objects section  -->
                  </div>
                  <div class="_form_element _x90726461 _full_width " >
                    <label for="lastname" class="_form-label">
                      Last Name
                    </label>
                    <div class="_field-wrapper">
                      <input type="text" id="lastname" name="lastname" placeholder="Type your last name" required/>
                    </div>
                    <!--  This STARTS the Custom Objects section  -->
                    </div>
                    <div class="_form_element _x60141677 _full_width " >
                      <label for="email" class="_form-label">
                        Email
                      </label>
                      <div class="_field-wrapper">
                        <input type="text" id="email" name="email" placeholder="Type your email" required/>
                      </div>
                      <!--  This STARTS the Custom Objects section  -->
                      </div>
                      <div class="_form_element _field9 _full_width " >
                        <label for="field[9]" class="_form-label">
                          Phone
                        </label>
                        <div class="_field-wrapper">
                          <input type="text" id="field[9]" name="field[9]" value="" placeholder="" required/>
                        </div>
                      </div>
                      <div class="_button-wrapper _full_width">
                        <button id="_form_133_submit" class="_submit" type="submit">
                          Submit
                        </button>
                      </div>
                      <div class="_clear-element">
                      </div>
                    </div>
                    <div class="_form-thank-you" style="display:none;">
                    </div>
                  </form>
            <img src="assets/Images/x.svg" id="closeBtn" alt="">
        </div>
    </div>
</div>
