<div class="navigation">
    <h3 class="mb-1">My account</h3>
    <button routerLink="/programs-and-bootcamps" routerLinkActive="active-black-color"
    [routerLinkActiveOptions]="{exact:true}">Programs and bootcamps</button>
    <button routerLink="/my-profile" routerLinkActive="active-black-color"
    [routerLinkActiveOptions]="{exact:true}">My profile</button>
    <button routerLink="/password" routerLinkActive="active-black-color"
    [routerLinkActiveOptions]="{exact:true}">Password</button>
</div>