<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-3 mt-5">
        <app-my-acc-navigation></app-my-acc-navigation>
    </div>
    <div class="col-md-9 mt-5 mb-5">
        <h1>PROGRAMS AND BOOTCAMPS</h1>
       <div class="text-center mt-3"> <img src="assets/Images/bootcamps.png" class="responsive" alt="Lamb"></div>
       <p>Ahh, you haven’t  enrolled in one of many ours bootcaps & programs yet!</p>
       <button class="go-bootcamp">Go to Bootcamps</button>
    </div>
    </div>
</div>

<app-footer></app-footer>